@{
    ViewBag.Title = "Main";
    Layout = "~/Areas/Admin/Views/AdminHome/Layout.cshtml";
}
<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
    <table style="width:600px;margin:auto;text-align:center;margin-top:20%;">
        <tr>
            <td>
                <h1>北京世纪互联后台管理</h1>
            </td>
        </tr>
    </table>
</body>
</html>

