@{
    ViewBag.Title = "AboutUsPage";
    Layout = "~/Views/Shared/View1.cshtml";
}
@model HomeIndexViewModel
<link href="~/CSS/AboutUsStyle.css" rel="stylesheet" />
<link href="~/CSS/Carousel-index.css" rel="stylesheet" />
<script src="~/Content/js/Carousel.js"></script>
<link href="~/CSS/effects.css" rel="stylesheet" />
@*公司介绍*@
<table class="table" id="companyproduce" style="margin-top:15px;">
    <tr style="text-align:center;">
        <td>
            <h3>______ 公司概况 ______</h3>
            <span style="font-size:14px;">更深入的了解，意味着更深刻的信任</span>
        </td>
    </tr>
    <tr style="height:15px;">
        <td></td>
    </tr>
    <tr>
        <td>        
                <div>@Html.Raw(ViewBag.compangprofileShow)</div>
 
        </td>
    </tr>
</table>
           }

@*公司荣誉*@
<table class="table" id="companyhonor">
    <tr style="text-align:center;">
        <td>
            <h3 style="margin-top:5px;">______ 公司荣誉 ______</h3>
            <span style="font-size:14px;">你的满意是我们最大的信赖</span>
        </td>
    </tr>
    <tr>
        <td style="width:1000px;height:240px;">
        <table border="0" style="margin:auto;">
            <tr>
                <td>
                    @Html.Partial("~/Views/PartView/Partial.Carousel.cshtml", Model.HonorShow)
                </td>
            </tr>
        </table>
    </td>
</tr>
</table>


@*公司文化*@
<table class="table" id="companyculture" style="height:200px;">
    <tr>
        <td colspan="4">
            <h3>______ 公司文化 ______</h3>
            <span style="font-size:14px;">与优秀的你一起携手同行</span>
        </td>
    </tr>
    <tr>
        @foreach (var Cultureitem in ViewBag.companycultureShow)
            {
            <td>
                <img class="img" src="/Content/Upload/@Cultureitem.Image" />
                <p>@Cultureitem.desc</p>
            </td>
        }
    </tr>
</table>

@*公司成就*@
<table id="companyachievenment" border="0" style="width:1000px;margin:auto;margin-top:20px;">
    <tr style="text-align:center;">
        <td>
            <h3 style="color:#0057be;">______ 公司成就 ______</h3>
            <span style="font-size:14px;">因为用心，所以专业</span>
        </td>
    </tr>
    <tr style="text-align:center;height:10px;">
        <td>
        </td>
    </tr>
    @foreach (var achievementitem in ViewBag.companyachievementShow)
    {
        <tr>
            <td colspan="4">
                <img class="img-responsive" style="width:1000px;height:180px;" src="/Content/Upload/@achievementitem.Image" alt="">
            </td>
        </tr>
    }
</table>




