@{
    ViewBag.Title = "AboutUsPage";
    Layout = "~/Views/Shared/View1.cshtml";
}

<link href="~/CSS/AboutUsStyle.css" rel="stylesheet" />
 <table class="table" id="companyproduce">
     <tr style="text-align:center;">
         <td>
             <h3>公司概况</h3>
             <span style="font-size:14px;">更深入的了解，意味着更深刻的信任</span>
         </td>
     </tr>
     <tr style="height:30px;">
         <td></td>
     </tr>
     <tr>
         <td>
             <div>
                 <p>北京世纪互联软件开发有限公司主要面向教育及考试服务领域，提供相关应用软件开发和互联网应用等在内的一站式考试服务，在大规模数据采集、网上阅卷、机考、教学评测、考试领域的软件开发和互联网应用方面拥有国内领先的技术成果，被认定为高新技术企业、中关村高新技术企业和双软企业，是行业内最早推广网上录取及网上阅卷技术的先驱者。</p>
                 <p>我们与教育部考试中心及其相关300多个高校考点有十多年的密切合作，并参与其有关四六级证书查询，自考证书查询等平台建设，承接人社部，卫生部等考试机构20多种执业证书的考务评卷工作。</p>
                 <p>公司服务客户包括教育部考试中心、人力资源和社会保障部人事考试中心、北京教育考试院、天津教育考试院、吉林省教育考试院、北京市海淀区招生考试中心、国家医学考试中心、审计署考试中心、国家统计局人事教育司、辽宁省人事考试局、陕西省人事考试中心、浙江省人事考试办公室、中国建设工程造价管理学会、中国消防协会等政府单位。</p>
             </div>
         </td>
     </tr>
 </table>

<table class="table" id="companyculture" style="text-align:center;">
    <tr>
        <td colspan="4">
            <h3>公司文化</h3>
            <span style="font-size:14px;">与优秀的你一起携手同行</span>
        </td>
    </tr>
    <tr style="height:30px;">
        <td></td>
    </tr>
    <tr>
        <td>
            <img class="img" src="~/image/culture_one.png" />
            <p>承诺是金  言出必行</p>
        </td>
        <td>
            <img class="img"src="~/image/culture_two.png" />
             <p>快速响应  客户需求</p>
        </td>
        <td>
            <img class="img"src="~/image/culture_three.png" />
            <p>有效合作 1+1>2</p>
        </td>
        <td>
            <img class="img"src="~/image/culture_four.png" />
            <p>永不满足  渴望超越</p>
        </td>
    </tr>
</table>

<table class="table" id="companyhonor">
    <tr style="text-align:center;">
        <td>
            <h3>公司荣誉</h3>
            <span style="font-size:14px;">你的满意是我们最大的信赖</span>
        </td>
    </tr>
    <tr style="height:30px;">
        <td></td>
    </tr>
    <tr>
        <td style="width:1000px;height:260px;background:url('/image/successfulimg.png')">
            <table border="0" style="margin:auto;">
                <tr>
                    <td style="padding:10px;"><img style="width:40px;height:80px;" src="~/image/prev.png" /></td>
                    <td style="padding:10px;"><img style="width:120px;height:160px;" src="~/image/About_HonorPic.png" /></td>
                    <td style="padding:10px;"><img style="width:120px;height:160px;" src="~/image/About_HonorPic.png" /></td>
                    <td style="padding:10px;"><img style="width:120px;height:160px;" src="~/image/About_HonorPic.png" /></td>
                    <td style="padding:10px;"><img style="width:120px;height:160px;" src="~/image/About_HonorPic.png" /></td>
                    <td style="padding:10px;"><img style="width:120px;height:160px;" src="~/image/About_HonorPic.png" /></td>
                    <td style="padding:10px;"><img style="width:40px;height:80px;"  src="~/image/next.png" /></td>
                </tr>
                
            </table>
        </td>
    </tr>
</table>


