body {
    margin: 0;
    padding: 0;
}

.table {
    margin: auto;
    width: 1000px;
    margin-top: 15px;
}

.table p {
    line-height: 36px;
}


.table h2 {
    color: #0057be;
}

.table span {
    font-size: 14px;
}

/*公司文化*/
#companyculture {
    height: 200px;
    text-align: center;
    background-color: #f7f7f7;
}

#companyculture h2 {
    margin-top: 15px;
}

#companyculture p {
    line-height: 50px;
}

#companyculture {
    text-align: center;
}

.img {
    width: 100px;
    height: 100px;
}


  /*公司成就*/
    #companyachievenment{
        width: 1000px;
        height: 500px;
        margin: auto;
        margin-top: 20px;
    }
