#carousel {
    --ImgWidth: 900;
}

    #carousel .container {
        position: relative;
        width: calc(var(--ImgWidth)*1px);
        height: 300px;
        margin: 0 auto;
        overflow: hidden;
    }

        #carousel .container .slider-container {
            position: absolute;
            left: calc(var(--ImgWidth)*-1px);
            top: 0;
            width: 10000px;
            height: 300px;
        }

            #carousel .container .slider-container .slider-item {
                display: block;
                width: calc(var(--ImgWidth)*1px);
                height: 300px;
                position: relative;
                float:left;
            }

                #carousel .container .slider-container .slider-item img {
                    display: block;
                    width: calc(var(--ImgWidth)*1px);
                    height: 300px;
                    vertical-align:middle;
                }

                #carousel .container .slider-container .slider-item span {
                    text-align: center;
                    width: calc(var(--ImgWidth)*1px);
                    bottom: 20%;
                    color: #fff;
                    position: absolute;
                    display: block;
                }

        #carousel .container .carousel-btn {
            height: 60px;
            width: 60px;
            position: absolute;
            display: block;
            top: 40%;
            color: #ffffff;
            cursor: pointer;
            background-color: #808080;
            opacity: 0.5;
            user-select: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
        }

.flipx {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    /*IE*/
    filter: FlipH;
}

#carousel .container .carousel-prev {
    left: 20px;
}

#carousel .container .carousel-next {
    right: 20px;
}

#carousel svg path {
    fill: inherit;
}

#carousel svg.hide {
    display: none;
    width: 60px;
    height: 60px;
}


#carousel use.use-left, #carousel use.use-right {
    fill: #ffffff;
}

#carousel .preview {
    text-align: center;
    padding: 5px;
}

    #carousel .preview a {
        display: inline-block;
        margin: 5px;
    }

    #carousel .preview img {
        display: block;
        width: 200px;
        height: auto;
    }

    #carousel .preview.active {
        outline: 3px solid #196cd2;
        box-shadow: 2px 2px 20px 4px rgba(0,0,0,.5);
    }
