body {
    margin:0;
    padding:0;
}
.table {
    width: 1000px;
    margin: auto;
    margin-top: 20px;
}
  .table span
  {
      font-size:14px;
  }
    .table h3 {
        color: #0057be;
    }
 /*联系我们*/

  #companyinfo p{
      line-height:40px;
  }
    
    #cooperation{
        text-align:center;
    }

    #cooperation td{
        border:#dfdfdf 1px solid;box-shadow:0px 0px 5px 4px rgba(232,232,232,.3);
    }

     #cooperation dl img{
         width:320px;height:130px;
     }
     #cooperation dl dd{
         height:130px;
         margin:0;
         line-height:30px;
         background-color:#efefef;
         border:#dfdfdf 1px solid;box-shadow:0px 0px 5px 4px rgba(232,232,232,.3);
     }
     
     #map_link{
         text-decoration:none;color:#0057be;width:90px;height:10px;padding:10px;background-color:white;border:1px solid #0057be;border-radius:10px;
     }

     /*招聘信息*/



#joinlink {
    text-decoration: none;
    width: 30px;
    height: 40px;
    border: 1px solid #0057be;
    background-color:#0057be;
    border-radius:8px;
    color: white;
    padding: 0 20px;
}
    #joinlink:hover {
        background-color:white;
        color: #0057be;
    }


