ul li { list-style-type: none; }
a { text-decoration: none; }
img { border: none; }
em, i { font-style: normal; }
/*.xinxi_solution_bg { background-size: 100% 400px; max-width: 1920px; margin: 0 auto; background-color: #F7F7F7; }*/
.xinxi_solution_main ul { overflow: hidden; height: 400px; }
.xinxi_solution_main .main_mobile { max-width: 1000px; min-width: 1000px; }
.xinxi_solution_main ul li {
    background: url('../image/about_17.jpg') no-repeat;
    height: 400px;
    float: left;
    width: 70px;
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
    border: 1px solid aliceblue;
}
    .xinxi_solution_main ul li:nth-child(2) {
        /*background: url('../image/about_14.jpg') 100% 100%;*/
        background-image: url('../image/about_14.jpg');
    }
    .xinxi_solution_main ul li:nth-child(3) {
        /*background: url('../image/about_17.jpg') 100% 100%;*/
        background-image: url('../image/about_14.jpg');
    }
    .xinxi_solution_main ul li:nth-child(4) {
        /*background: url('../image/about_20.jpg') 100% 100%;*/
        background-image: url('../image/about_14.jpg');
    }
    .xinxi_solution_main ul li:nth-child(5) {
        background: url('../image/about_14.jpg') 100% 100%;
    }
    .xinxi_solution_main ul li:nth-child(6) {
        background: url('../image/about_14.jpg') 100% 100%;
    }
    .xinxi_solution_main ul li:nth-child(6) {
        background: url('../image/about_14.jpg') 100% 100%;
    }
.xinxi_solution_main ul li .left_top { position: absolute; left: 0; width: 30px; padding: 0 15px; text-align: center; }
.xinxi_solution_main ul li .left_top img { width: 30px; }
.xinxi_solution_main ul li i { font-size: 24px; color: #FFF; }
.xinxi_solution_main .left_top { font-size: 30px; color: #FFF; }
.xinxi_solution_main ul li .left { float: left; width: 70px; background: #000; opacity: 0.5; height: 400px; }
.xinxi_solution_main ul li .right { float: left; /*width: 540px;*/ position: relative; height: 400px; }
.xinxi_solution_main .right dl { position: absolute; top: 50%; left: 60px; }
.xinxi_solution_main .right dd { color: #FFF; font-size: 26px; border-radius: 5px; width: 250px; height: 75px; margin-bottom: 45px; background: #000; opacity: 0.5; }
.xinxi_solution_main .right dl a { background-repeat: no-repeat; color: #FFF; font-size: 16px; line-height: 40px; height: 40px; width: 280px; text-align: center; padding: 0 10px; margin-bottom: 10px; display: block; overflow: hidden; text-overflow: ellipsis; -o-text-overflow: ellipsis; white-space: nowrap; background-size: 100% 100%; background-color: rgba(0,0,0,0.5); border-radius: 5px; margin-top: 10px; }
.xinxi_solution_main .right dl a.yichu { float: left; margin-right: 20px; }
.xinxi_solution_main ul li.on { width: 565px; }
/*.xinxi_solution_main ul li.two {
    background: url('../image/about_14.jpg') no-repeat;
}
.xinxi_solution_main ul li.thr {
    background: url('../image/about_14.jpg') no-repeat;
}
.xinxi_solution_main ul li.four {
    background: url('../image/about_14.jpg') no-repeat;
}
.xinxi_solution_main ul li.five {
    background: url('../image/about_14.jpg') no-repeat;
}
.xinxi_solution_main ul li.six {
    background: url('../image/about_14.jpg') no-repeat;
}*/
