/* CSS Document */
* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	outline: none;
	border: none;
}
input, select {
	outline: none;
}
area {
	outline: none;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
i, em {
	font-style: normal;
}
.clearfix:after {
	display: block;
	content: '';
	clear: both;
}
body {
	font-family: "微软雅黑";
	font-size: 12px;
}
/*======================================================头部*/
.top {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
.top a {
	float: left;
	padding: 26px 0 0 14px;
}
.top p {
	float: right;
	width: 285px;
	height: 75px;
	padding: 24px 0 0 50px;
	background: url(../images/phone.png) left center no-repeat;
	line-height: 22px;
	font-size: 14px;
	color: #666666;
}
.top p i {
	font-size: 24px;
	color: #0158bf;
}
.nav {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	height: 54px;
	color: #FFF;
	font-size: 18px;
}
.nav a {
	display: inline-block;
	width: 183px;
	height: 54px;
	line-height: 54px;
	text-align: center;
	font-size: 18px;
	color: #FFF;
}
.nav a:hover {
	background: url(../images/nav_bg.jpg) bottom center no-repeat;
}
/*=======================================================焦点图*/
.focus {
	height: 512px;
	overflow: hidden;
	position: relative;
}
/* focus_s */
.focus_s {
	position: absolute;
	left: 50%;
	bottom: 5%;
	height: 13px;
	overflow: hidden;
	width: 110px;
	z-index: 9;
	margin: 0 0 0 -30px;
}
.focus_s li {
	float: left;
	cursor: pointer;
	height: 12px;
	width: 12px;
	overflow: hidden;
	margin-right: 10px;
	background: #cacaca;
	border-radius: 6px;
}
.focus_s li.active {
	background: #ff7331;
}
/* focus_m */
.focus_m ul {
	opacity: 1;
	filter: alpha(opacity=100);
}
.focus_m li {
	width: 100%;
	height: 512px;
	position: absolute;
	top: 0;
	left: 0;
}
.focus_m li a {
	display: block;
	width: 100%;
	height: 100%;
}
/* focus_l focus_r */
.focus_l, .focus_r {
	position: absolute;
	display: block;
	width: 50px;
	height: 75px;
	overflow: hidden;
	z-index: 2;
	top: 150px;
}
.focus_l {
	left: 0;
	display: none;
}
.focus_r {
	right: 0;
	display: none;
}
.focus_l b, .focus_r b {
	position: absolute;
	z-index: 1;
	display: block;
	width: 50px;
	height: 75px;
	overflow: hidden;
	background: #000;
	opacity: 0.3;
	filter: alpha(opacity=30);
	cursor: pointer;
}
.focus_l span, .focus_r span {
	display: inline-block;
	position: relative;
	z-index: 2;
	width: 22px;
	height: 33px;
	top: 21px;
	cursor: pointer;
	margin-right: 28px;
}
.focus_l span {
	left: 12px;
	background-image: url(../images/l.png);
	_background: none;
_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='l.png');
}
.focus_r span {
	left: 16px;
	background: url(../images/r.png) 0 0 no-repeat;
	_background: none;
_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='r.png');
}
.focus_l:hover b, .focus_r:hover b {
	opacity: 0.5;
	filter: alpha(opacity=50);
}
/*====================================公司概况*/
.company {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	padding-top: 42px;
}
.title {
	width: 100%;
	overflow: hidden;
}
.title h4 {
	height: 66px;
	line-height: 66px;
	text-align: center;
	font-weight: bold;
	font-size: 40px;
	color: #003e8b;
	background: url(../images/about_06.jpg) bottom center no-repeat;
}
.title p {
	line-height: 42px;
	color: #666666;
	text-align: center;
	font-size: 16px;
}
.us {
	width: 100%;
	overflow: hidden;
	padding-top: 72px;
}
.us dl {
	width: 100%;
	overflow: hidden;
}
.us dl dt {
	float: left;
}
.us dl dt img {
	display: block;
}
.us dl dd {
	float: right;
	width: 724px;
	overflow: hidden;
}
.us dl dd h2 {
	width: 100%;
	text-align: right;
	font-family: Arial;
	color: #333333;
	font-size: 56px;
	font-weight: bold;
	margin-bottom: 42px;
}
.us dl dd h2 i {
	color: #333333;
	font-size: 34px;
	font-weight: normal;
}
.us dl dd p {
	line-height: 30px;
	color: #333333;
	font-size: 16px;
	margin-bottom: 30px;
	text-indent: 2em;
}
.main_business {
	width: 1200px;
	margin: 0 auto;
	padding-top: 70px;
}
.main_ct {
	width: 100%;
	overflow: hidden;
	height: 286px;
	overflow: hidden;
	padding-top: 30px;
}
.main_ct div {
	height: 290px;
	overflow: hidden;
	display: inline-block;
	overflow: hidden;
	padding: 6px 0 0 6px;
	box-sizing: border-box;
}
.main_ct div a {
	float: left;
	width: 27px;
	height: 278px;
	padding: 0 22px;
	margin-right: 6px;
	color: #666666;
	font-size: 22px;
	border: 1px solid #cccccc;
}
.main_ct div a i {
	display: table;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	text-align: center;
}
.main_ct div a i b {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-weight: normal;
	width: 100%;
	height: 100%;
}
.main_ct div a:hover {
	border: 1px solid #003e8b;
	box-shadow: #003e8b 0px 0px 10px;
}
.main_ct div dl {
	float: left;
	width: 540px;
	height: 242px;
	padding: 36px 0 0 28px;
	border: 1px solid #003e8b;
	overflow: hidden;
}
.main_ct div dl dt {
	float: left;
}
.main_ct div dl dd {
	float: right;
	width: 260px;
}
.main_ct div dl dd h6 {
	width: 100%;
	height: 66px;
	line-height: 44px;
	font-size: 30px;
	color: #333333;
}
.main_ct div dl dd p {
	line-height: 32px;
	color: #666666;
	text-indent: 16px;
	background: url(../images/dian.png) left center no-repeat;
	font-size: 18px;
}
.main_ct div.long dl dd p {
	line-height: 26px;
	font-size: 16px;
}
.culture {
	width: 100%;
	overflow: auto;
}
.cul_ct {
	width: 100%;
	background: url(../images/about_17.jpg) center top no-repeat;
	height: 302px;
	margin-top: 22px;
}
.cul_main {
	width: 1176px;
	margin: 0 auto;
	overflow: hidden;
	padding-right: 24px;
}
.cul_main dl {
	float: left;
	width: 630px;
	overflow: hidden;
}
.cul_main dl dt {
	width: 100%;
	line-height: 116px;
	font-size: 32px;
	color: #FFF;
	font-weight: bold;
}
.cul_main dl dd {
	font-size: 16px;
	color: #FFF;
	line-height: 28px;
	width: 580px;
}
.cul_main p {
	float: right;
	width: 508px;
	padding-top: 24px;
}
.cul_main p span {
	float: left;
	width: 243px;
	height: 120px;
	line-height: 198px;
	text-align: center;
	color: #333333;
	font-size: 18px;
	margin: 0 18px 14px 0;
}
.adv {
	padding-top: 50px;
}
.adv_ct {
	width: 1200px;
	background: url(../images/about_20.jpg) center top no-repeat;
	height: 279px;
	margin: 28px auto;
}
.adv_ct dl {
	float: left;
	cursor: pointer;
	width: 292px;
	height: 279px;
	margin-right: 10px;
	position: relative;
	overflow: hidden;
}
.adv_ct dl dd {
	position: absolute;
	left: 0px;
	top: 279px;
	background: #003e8b;
	padding: 48px 20px 0 20px;
	width: 252px;
	height: 231px;
}
.adv_ct dl dd h5 {
	text-align: center;
	padding: 12px 32px;
	font-size: 20px;
	border: 1px solid #FFF;
	color: #FFF;
	margin-bottom: 38px;
}
.adv_ct dl dd p {
	line-height: 30px;
	font-size: 16px;
	color: #FFF;
}
.adv_ct dl#adv_last {
	margin-right: 0px;
}
.adv_ct dl.se dd {
	top: 0px;
	animation-name: bounceInUp;
	-webkit-animation-name: bounceInUp;
	animation-duration: 0.6s;
	animation-fill-mode: both;
	-webkit-animation-iteration-count: 1;
	animation-direction: alternate;
	-webkit-animation-direction: alternate;
}
@keyframes bounceInUp {
 from, 60%, 75%, 90%, to {
 animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
from {
	opacity: 0;
	transform: translate3d(0, 3000px, 0);
}
 60% {
 opacity: 1;
 transform: translate3d(0, -20px, 0);
}
 75% {
 transform: translate3d(0, 10px, 0);
}
 90% {
 transform: translate3d(0, -5px, 0);
}
to {
	transform: translate3d(0, 0, 0);
}
}
/*====================================honor*/

#honor {
	width: 1200px;
	height: 292px;
	overflow: hidden;
	position: relative;
	margin: 0px auto;
}
.honor_banner {
	width: 720px;
	height: 292px;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
}
.honor_banner ul {
	height: 292px;
	overflow: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;
}
.honor_banner ul li {
	width: 720px;
	height: 292px;
	float: left;
	text-align: center;
	overflow: hidden;
}
.honor_banner ul li img {
	display: block;
	width: 720px;
	height: auto;
}
.teacher_point {
	width: 100%;
	height: 11px;
	opacity: 0;
	text-align: center;
	position: absolute;
	bottom: -60px;
	left: 0px;
	z-index: 10;
}
.honor_banner span {
	display: inline-block;
	margin-right: 6px;
	cursor: pointer;
	width: 11px;
	height: 11px;
}
#honor font {
	width: 72px;
	height: 120px;
	z-index: 10;
	position: absolute;
	top: 50%;
	margin-top: -60px;
	cursor: pointer;
filter:alpha(opacity:60);
	opacity: 0.6;
}
#honor .prev {
	left: 0px;
	background: url(../images/prev.png) no-repeat;
	background-size: 100% 100%;
}
#honor .prev:hover {
filter:alpha(opacity:100);
	opacity: 1;
}
#honor .next {
	right: 0px;
	background: url(../images/next.png) no-repeat;
	background-size: 100% 100%;
}
#honor .next:hover {
filter:alpha(opacity:100);
	opacity: 1;
}
.achieve {
	padding-bottom: 166px;
}
.footer {
	width: 100%;
	line-height: 32px;
	color: #FFF;
	font-size: 14px;
	padding: 32px 0;
	background: #44474e;
	text-align: center;
}
/*=======================================================产品概述*/

.tab {
	width: 1200px;
	margin: 0 auto;
	background: url(../images/tab_bg.jpg) center top no-repeat;
	height: 133px;
	margin: 68px auto 60px;
}
.tab span {
	position: relative;
	float: left;
	width: 188px;
	height: 133px;
	line-height: 132px;
	font-weight: bold;
	margin-right: 134px;
	cursor: pointer;
	border-radius: 12px;
	background: #5ec2e7;
	color: #FFF;
	font-size: 40px;
	padding-left: 122px;
}
.tab span .i1 {
	position: absolute;
	width: 68px;
	height: 84px;
	background: url(../images/icon.png) no-repeat;
	background-position: 0px 0px;
	left: 27px;
	top: 25px;
}
.tab span .i2 {
	position: absolute;
	width: 82px;
	height: 58px;
	background: url(../images/icon.png) no-repeat;
	background-position: 0px -87px;
	left: 20px;
	top: 40px;
}
.tab span .i3 {
	position: absolute;
	width: 70px;
	height: 88px;
	background: url(../images/icon.png) no-repeat;
	background-position: 0px -146px;
	left: 25px;
	top: 24px;
}
.tab span.se {
	background: #0258ba;
}
.tab_content {
	width: 100%;
	overflow: hidden;
}
.tab_content .ever {
	width: 100%;
	overflow: hidden;
	display: none;
}
.tab_content .active {
	display: block;
}
.online {
	width: 100%;
	overflow: hidden;
	background: #f1efef;
}
.online_ct {
	width: 1200px;
	margin: 0 auto;
}
.online_ct dl {
	width: 100%;
	overflow: hidden;
	margin-bottom: 168px;
}
.online_ct dl dd {
	float: left;
	width: 670px;
	overflow: hidden;
}
.online_ct dl dd h5 {
	width: 100%;
	height: 109px;
	line-height: 134px;
	font-size: 30px;
	font-weight: bold;
	color: #333333;
	text-align: left;
}
.online_ct dl dd h6 {
	width: 100%;
	line-height: 46px;
	color: #333333;
	font-size: 24px;
	font-weight: bold;
	text-indent: 54px;
	position: relative;
}
.online_ct dl dd h6 .i1 {
	position: absolute;
	left: 2px;
	top: 2px;
	width: 42px;
	height: 43px;
	background: url(../images/icon.png) no-repeat;
	background-position: 0px -237px;
}
.online_ct dl dd p {
	line-height: 40px;
	font-size: 24px;
	color: #333333;
}
.online_ct dl dd h6 .i2 {
	position: absolute;
	left: 2px;
	top: 2px;
	width: 42px;
	height: 42px;
	background: url(../images/icon.png) no-repeat;
	background-position: 0px -280px;
}
.online_ct dl dd h6 .i3 {
	position: absolute;
	left: 8px;
	top: 2px;
	width: 36px;
	height: 36px;
	background: url(../images/icon.png) no-repeat;
	background-position: 0px -327px;
}
.online_ct dl dt {
	float: right;
	padding-top: 96px;
}
.online_ct dl.no_pap {
	margin-bottom: 136px;
}
.online_ct dl.no_pap dt {
	float: left;
	padding: 0px;
}
.online_ct dl.no_pap dd {
	float: right;
	width: 540px;
}
.online_ct dl.no_pap dd h5 {
	height: 60px;
	line-height: 30px;
}
.online_ct dl.no_pap dd h6 {
	font-weight: normal;
}
.online_ct dl.no_pap dd h6 .i4 {
	position: absolute;
	left: 0px;
	top: 10px;
	width: 33px;
	height: 33px;
	background: url(../images/icon.png) no-repeat;
	background-position: 0px -367px;
}
.online_ct dl.no_pap dd h6 .i5 {
	position: absolute;
	left: 0px;
	top: 10px;
	width: 46px;
	height: 40px;
	background: url(../images/icon.png) no-repeat;
	background-position: -39px -360px;
}
.three_data {
	width: 100%;
	background: #d5eefc;
	overflow: hidden;
}
.data_ct {
	width: 1112px;
	margin: 0 auto;
	overflow: hidden;
	padding: 74px 0 186px 88px;
}
.data_ct dl {
	float: left;
	width: 268px;
	margin-right: 110px;
	overflow: hidden;
}
.data_ct dl dt img {
	display: block;
}
.data_ct dl dd {
	width: 100%;
	overflow: hidden;
}
.data_ct dl dd h4 {
	height: 136px;
	line-height: 140px;
	text-align: center;
	color: #333333;
	font-size: 30px;
	font-weight: bold;
}
.data_ct dl dd ul li {
	width: 248px;
	padding-left: 20px;
	line-height: 44px;
	font-size: 24px;
	background: url(../images/dian2.png) 4px 20px no-repeat;
}
.company_img {
	width: 100%;
	overflow: hidden;
	background: #f2f0f0;
}
.img_ct {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	padding: 128px 0 230px;
}
.img_ct p {
	width: 100%;
	overflow: hidden;
	margin-bottom: 6px;
}
.img_ct p img {
	float: left;
	-webkit-transition: all 0.6s ease-in-out;
}
.img_ct p img:hover {
	-webkit-transform: scale(1.1);
}
/*=========================================产品优势*/
.safety {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	background: url(../images/advan_03.jpg) center top no-repeat;
	height: 532px;
	padding-bottom: 160px;
}
.safety dl {
	float: left;
	width: 590px;
	padding-top: 52px;
}
.safety dl dt {
	line-height: 42px;
	color: #000000;
	font-size: 30px;
	font-weight: bold;
	text-indent: 56px;
}
.safety dl dd {
	line-height: 40px;
	color: #000000;
	font-size: 22px;
	text-indent: 12px;
}
.safety ul {
	float: right;
	width: 545px;
	padding-top: 144px;
}
.safety ul li {
	width: 100%;
	height: 112px;
	margin-bottom: 30px;
}
.safety ul li span {
	display: block;
	width: 100%;
	height: 80px;
	text-align: center;
	font-size: 30px;
	color: #000000;
	line-height: 112px;
}
.safety ul li font {
	display: block;
	line-height: 28px;
	font-size: 24px;
	color: #000000;
	text-indent: 308px;
}
.advan2 {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	background: url(../images/advan2.jpg) center top no-repeat;
	height: 333px;
}
.advan2 p {
	float: left;
	width: 453px;
	overflow: hidden;
}
.advan2 p a {
	display: block;
	width: 100%;
	height: 105px;
	margin-bottom: 6px;
	line-height: 106px;
	text-indent: 80px;
	color: #000000;
	font-size: 24px;
}
.advan2 p a:hover {
	font-weight: bold;
}
.advan2 dl {
	float: left;
	width: 312px;
	overflow: hidden;
}
.advan2 dl dt {
	width: 100%;
	line-height: 54px;
	font-size: 30px;
	text-align: center;
	color: #000000;
	height: 89px;
}
.advan2 dl dd {
	width: 258px;
	padding: 0 20px 0 34px;
	line-height: 44px;
	color: #000000;
	font-size: 24px;
}
.advan2 span {
	float: right;
	width: 326px;
	overflow: hidden;
}
.advan2 span a {
	width: 100%;
	height: 105px;
	line-height: 106px;
	margin-bottom: 6px;
	text-indent: 94px;
	font-size: 20px;
	color: #000000;
	display: block;
}
.advan2 span a:hover {
	font-weight: bold;
}
.high_intel {
	position: relative;
	width: 384px;
	margin: 0 auto;
	position: relative;
	background: url(../images/advan_08.jpg) center 128px no-repeat;
	padding: 416px 0 60px 816px;
}
.high_intel p {
	-webkit-transition: all 0.6s ease-in-out;
	position: absolute;
	width: 254px;
	height: 246px;
	left: 668px;
	top: -50px;
	padding: 74px 0 0 82px;
	line-height: 40px;
	color: #f2f0f0;
	font-size: 26px;
	background: url(../images/high_bg.png) no-repeat;
}
.high_intel p:hover {
	-webkit-transform: scale(1.1);
}
.high_intel dl {
	width: 100%;
	overflow: hidden;
}
.high_intel dl dt {
	width: 100%;
	line-height: 102px;
	color: #010101;
	font-size: 30px;
}
.high_intel dl dd {
	width: 100%;
	line-height: 42px;
	color: #010101;
	font-size: 24px;
}
.take {
	width: 1200px;
	margin: 0 auto;
	padding-top: 94px;
	padding-bottom: 34px;
	overflow: hidden;
}
.take dl {
	float: left;
	padding-top: 310px;
	width: 310px;
}
.take dl dt {
	line-height: 100px;
	font-size: 30px;
	color: #000000;
	text-align: left;
}
.take dl dd {
	line-height: 36px;
	font-size: 24px;
	color: #000000;
}
.take img {
	float: right;
}
.foot_system {
	width: 1200px;
	margin: 0 auto;
	padding-top: 200px;
	overflow: hidden;
	padding-bottom: 260px;
}
.foot_system dl {
	float: left;
	width: 278px;
	overflow: hidden;
	padding-top: 230px;
}
.foot_system dl dt img {
	display: block;
}
.foot_system dl dd {
	line-height: 36px;
	font-size: 30px;
	color: #181818;
	text-align: left;
	margin-top: 18px;
}
.foot_system p {
	float: left;
	width: 494px;
	overflow: hidden;
	margin-left: 88px;
}
.foot_system p span {
	width: 480px;
	height: 69px;
	display: block;
	border: 3px solid #045091;
	padding: 4px;
	margin-bottom: 20px;
}
.foot_system p span a {
	position: relative;
	width: 100%;
	height: 100%;
	line-height: 70px;
	text-align: center;
	color: #01559e;
	font-size: 30px;
	display: block;
}
.foot_system p span a .i1 {
	position: absolute;
	width: 57px;
	height: 56px;
	left: 12px;
	top: 5px;
	background: url(../images/icon.png) no-repeat;
	background-position: -79px 0px;
}
.foot_system p span a .i2 {
	position: absolute;
	width: 51px;
	height: 49px;
	left: 11px;
	top: 10px;
	background: url(../images/icon.png) no-repeat;
	background-position: -145px 0px;
}
.foot_system p span a .i3 {
	position: absolute;
	width: 51px;
	height: 51px;
	left: 12px;
	top: 12px;
	background: url(../images/icon.png) no-repeat;
	background-position: -152px -107px;
}
.foot_system p span a .i4 {
	position: absolute;
	width: 51px;
	height: 51px;
	left: 12px;
	top: 12px;
	background: url(../images/icon.png) no-repeat;
	background-position: -87px -69px;
}
.foot_system p span a:hover {
	background: #badfff;
}
.foot_system .sys_img {
	float: right;
}
/*==============================================成功案例*/

.success1 {
	width: 1200px;
	margin: 0 auto;
	padding-top: 116px;
	position: relative;
	padding-bottom: 142px;
}
.success1 dl {
	width: 100%;
	overflow: hidden;
}
.success1 dl dt {
	float: left;
	padding-top: 6px;
}
.success1 dl dd {
	float: right;
	width: 634px;
	line-height: 32px;
	font-size: 26px;
	letter-spacing: 2px;
}
.success1 .positi {
	position: absolute;
	right: 0px;
	bottom: 60px;
}
.succe_test {
	width: 1200px;
	margin: 0 auto 76px;
	overflow: hidden;
	padding-top: 60px;
}
.succe_test span {
	float: left;
	height: 80px;
	padding: 4px;
	border: 1px solid #7cbce1;
	height: 72px;
	margin: 0 4px 4px 0;
}
.succe_test span a {
	display: block;
	height: 72px;
	line-height: 72px;
	text-align: center;
	color: #333;
	padding: 0 32px;
	font-size: 24px;
	background: url(../images/a_bg.jpg) left top repeat-x;
}
.succe_test span a:hover {
	background: url(../images/a_bg2.jpg) left top repeat-x;
	color: #FFF;
}
.succe_four {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	padding-bottom: 42px;
}
.succe_four dl {
	float: left;
	width: 256px;
	overflow: hidden;
	margin-right: 56px;
}
.succe_four dl dt img {
	display: block;
}
.succe_four dl dd {
	width: 100%;
	line-height: 100px;
	text-align: center;
	color: #000000;
	font-size: 30px;
}
.system_five {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	background: url(../images/success_25.jpg) center top no-repeat;
	height: 673px;
	position: relative;
}
.system_five span {
	position: absolute;
	width: 356px;
	height: 293px;
	text-align: center;
	line-height: 444px;
	font-size: 30px;
	color: #000000;
}
.system_five span#s1 {
	left: 0px;
	top: 0px;
}
.system_five span#s2 {
	right: 0px;
	top: 0px;
}
.system_five span#s3 {
	left: 0px;
	bottom: 0px;
}
.system_five span#s4 {
	right: 0px;
	bottom: 0px;
}
.system_five span#s5 {
	left: 400px;
	bottom: 62px;
}
.map {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	padding-top: 136px;
	padding-bottom: 20px;
}
.map dl {
	float: left;
	width: 410px;
	padding-top: 320px;
	overflow: hidden;
}
.map dl dt {
	line-height: 34px;
	font-size: 18px;
	color: #000000;
	text-align: left;
	letter-spacing: 0;
}
.map dl dd {
	line-height: 46px;
	font-size: 30px;
	color: #000000;
	text-align: left;
}
.map img {
	float: right;
}
/*========================================首页*/

.index_tit {
	width: 100%;
	overflow: hidden;
	padding-top: 72px;
}
.index_tit h5 {
	text-align: center;
	font-size: 30px;
	color: #0158bf;
	line-height: 44px;
}
.index_tit h5 i {
	color: #333333;
}
.index_tit h2 {
	text-align: center;
	line-height: 60px;
	font-size: 42px;
	color: #333333;
	height: 70px;
	background: url(../index_images/index_03.png) bottom center no-repeat;
}
/*====================================product*/
.product {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	padding-bottom: 70px;
}
.product dl {
	float: left;
	width: 279px;
	height: 354px;
	position: relative;
	margin: 0 6px 10px 0;
	overflow: hidden;
}
.product dl dt {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1;
}
.product dl dd {
	position: absolute;
	left: 0px;
	top: 354px;
	z-index: 4;
	background: url(../index_images/index_dl_bg.png) repeat;
	width: 201px;
	height: 262px;
	padding: 92px 0 0 78px;
}
.product dl dd h6 {
	width: 100%;
	text-align: left;
	color: #FFF;
	height: 46px;
	margin-bottom: 10px;
	line-height: 46px;
	font-size: 22px;
	background: url(../index_images/product_tit_bg.jpg) left bottom no-repeat;
}
.product dl dd p {
	width: 100%;
	text-align: left;
	color: #FFF;
	line-height: 28px;
	font-size: 14px;
}
.product dl#no_pap {
	width: 309px;
	height: 171px;
}
.product dl#no_pap dd {
	width: 253px;
	height: 147px;
	padding: 24px 0 0 56px;
}
.product dl#pj_system {
	width: 627px;
	height: 174px;
}
.product dl#pj_system dd {
	width: 571px;
	height: 150px;
	padding: 24px 0 0 56px;
}
.product dl#img_system {
	width: 276px;
	height: 354px;
	position: absolute;
	right: 0px;
	top: 0px;
}
.product dl#img_system dd {
	width: 246px;
	height: 266px;
	padding: 88px 0 0 30px;
}
.product dl#cloud {
	width: 594px;
	height: 172px;
}
.product dl#cloud dd {
	width: 541px;
	height: 146px;
	padding: 26px 0 0 56px;
}
.product dl.se dd {
	top: 0px;
	animation-name: bounceInUp;
	-webkit-animation-name: bounceInUp;
	animation-duration: 0.6s;
	animation-fill-mode: both;
	-webkit-animation-iteration-count: 1;
	animation-direction: alternate;
	-webkit-animation-direction: alternate;
}
@keyframes bounceInUp {
 from, 60%, 75%, 90%, to {
 animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
from {
	opacity: 0;
	transform: translate3d(0, 3000px, 0);
}
 60% {
 opacity: 1;
 transform: translate3d(0, -20px, 0);
}
 75% {
 transform: translate3d(0, 10px, 0);
}
 90% {
 transform: translate3d(0, -5px, 0);
}
to {
	transform: translate3d(0, 0, 0);
}
}
/*=================================品牌优势*/
.pp_adv {
	width: 100%;
	overflow: hidden;
	background: url(../index_images/index_26.jpg) center top no-repeat;
	height: 251px;
}
.pp_adv h5 {
	color: #0158bf;
}
.pp_adv h5 i {
	color: #FFF;
}
.pp_adv h2 {
	color: #FFF;
}
.pp_ct {
	width: 100%;
	background: url(../index_images/index_27.png) center top no-repeat;
	height: 306px;
}
.pp_four {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	padding-top: 130px;
}
.pp_four dl {
	float: left;
	width: 300px;
	overflow: hidden;
}
.pp_four dl dt {
	width: 100%;
	text-align: center;
	line-height: 48px;
	color: #FFF;
	font-size: 22px;
}
.pp_four dl dd {
	text-align: center;
	color: #FFF;
	line-height: 20px;
	font-size: 12px;
}
/*=======================================产品新闻*/
.news {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	padding-top: 60px;
	padding-bottom: 96px;
}
.new_lf {
	float: left;
	width: 780px;
	overflow: hidden;
}
.new_lf img {
	display: block;
	margin: 0 auto;
}
.new_lf dl {
	width: 100%;
	position: relative;
	overflow: hidden;
	margin-top: 24px;
}
.new_lf dl dt {
	float: left;
	width: 240px;
	height: 108px;
	overflow: hidden;
}
.new_lf dl dt img {
	-webkit-transition: all 0.4s linear;
}
.new_lf dl dt img:hover {
	-webkit-transform: scale(1.1);
}
.new_lf dl dd {
	float: right;
	width: 510px;
	overflow: hidden;
}
.new_lf dl dd h4 {
	width: 100%;
	text-align: left;
	height: 35px;
	color: #333333;
	font-size: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.new_lf dl dd p {
	color: #666666;
	font-size: 14px;
	line-height: 24px;
}
.new_lf dl dd span {
	position: absolute;
	right: 6px;
	bottom: 0px;
	font-size: 14px;
	color: #666666;
}
.new_rt {
	float: right;
	width: 398px;
	overflow: hidden;
	border: 1px solid #ececec;
	border-top: none;
	position: relative;
}
.new_rt dl {
	width: 100%;
	overflow: hidden;
}
.new_rt dl img {
	display: block;
	vertical-align: middle;
}
.new_rt span {
	position: absolute;
	width: 293px;
	height: 129px;
	border-radius: 10px;
	left: 22px;
	top: 20px;
	padding: 38px 30px 0px;
	background: url(../index_images/blue_t_bg.jpg) 31px 26px no-repeat #FFF;
	box-shadow: #b5d2f6 0 6px 10px;
	font-size: 14px;
	color: #333333;
	line-height: 22px;
}
.new_rt span em {
	color: #0b6ae0;
	font-size: 18px;
}
.new_rt p {
	position: absolute;
	width: 100%;
	overflow: hidden;
	left: 0px;
	top: 200px;
}
.new_rt p a {
	display: block;
	width: 100%;
	line-height: 66px;
	color: #333333;
	font-size: 22px;
	text-indent: 122px;
}
.new_rt p a:hover {
	background: url(../index_images/a_bg.png) 53px 30px no-repeat;
	color: #0b6ae0;
}
.index_foot {
	background: #0158bf;
}
/*menu_nav-----------------------------------*/

.menu_nav {
	width: 1200px;
	height: 53px;
	overflow: hidden;
	margin: 0 auto;
	line-height: 54px;
	font-size: 14px;
	border-bottom: 1px solid #ececec;
	margin-bottom: 42px;
}
.menu_nav span {
	display: inline-block;
	width: 100px;
	height: 51px;
	text-align: left;
	color: #666;
}
.menu_nav a {
	color: #666;
}
.menu_nav a:hover {
	color: #9d1f4c;
}
.menu_nav em {
	font-style: normal;
	color: #666666;
}
.con_main {
	width: 1200px;
	margin: 0 auto;
	background: url(../images/map_img.png) no-repeat;
	height: 517px;
}
.con_main .main_lf {
	float: left;
	width: 404px;
	padding: 298px 0 0 228px;
}
.con_main .main_lf b {
	color: #FFF;
	font-size: 14px;
	line-height: 36px;
}
.con_main .main_lf p {
	color: #FFF;
	font-size: 14px;
	line-height: 26px;
}
.con_main .main_rt {
	float: right;
	width: 324px;
	padding: 72px 196px 0 0;
	overflow: hidden;
	text-align: right;
}
.con_main .main_rt h2 {
	widh: 100%;
	line-height: 60px;
	text-align: right;
	color: #FFF;
	font-size: 50px;
}
.con_main .main_rt p {
	text-align: right;
	line-height: 26px;
	color: #FFF;
	font-size: 14px;
}
.con_main .main_rt strong {
	display: inline-block;
	margin: 8px auto 100px;
}
.con_main .main_rt a {
	display: inline-block;
	width: 138px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	color: #FFF;
	font-size: 14px;
	background: #1580ff;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.con_main .main_rt a:hover {
	background: #FFF;
	color: #1580ff;
}
.zx {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	padding-top: 80px;
	padding-bottom: 200px;
}
.zx dl {
	float: left;
	position: relative;
	width: 379px;
	height: 221px;
	overflow: hidden;
	margin-right: 30px;
}
.zx dl dt {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.zx dl dd {
	position: absolute;
	left: 20px;
	top: 21px;
	width: 289px;
	height: 127px;
	-webkit-transition: all 0.4s ease-in-out;
	border-radius: 10px;
	box-shadow: #32b223 0 11px 8px -4px;
	background: url(../images/zx_dd.png) 158px 8px no-repeat #FFF;
	padding: 32px 0 0 50px;
}
.zx dl dd h5 {
	text-align: left;
	line-height: 38px;
	font-size: 24px;
	color: #46d824;
}
.zx dl dd p {
	line-height: 24px;
	color: #666666;
	font-size: 14px;
	text-align: left;
}
.zx dl dd i {
	position: absolute;
	left: 49px;
	top: 26px;
	width: 37px;
	height: 2px;
	background: #46d824;
}
.zx dl.business dd {
	box-shadow: #0f69f6 0 11px 8px -4px;
}
.zx dl.business dd h5 {
	color: #0b6ae0;
}
.zx dl.business dd i {
	background: #0b6ae0;
}
.zx dl.media {
	margin-right: 0px;
}
.zx dl.media dd {
	box-shadow: #b07f20 0 11px 8px -4px;
}
.zx dl.media dd h5 {
	color: #f79a21;
}
.zx dl.media dd i {
	background: #f79a21;
}
.zx dl dd:hover {
	top: 16px;
	box-shadow: #000 0 12px 6px -4px;
}
/*================================================公司新闻列表页*/
.com_new {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
.com_new .new_left {
	float: left;
	width: 761px;
	overflow: hidden;
}
.com_new .menu_nav {
	margin-bottom: 0px;
}
.new_left dl {
	width: 761px;
	overflow: hidden;
	height: 147px;
	border-bottom: 1px dashed #ececec;
	position: relative;
}
.new_left dl dt {
	float: left;
	padding-top: 20px;
}
.new_left dl dt img {
	display: block;
	border: 1px solid #ececec;
}
.new_left dl dd {
	float: right;
	width: 554px;
	padding-right: 8px;
}
.new_left dl dd h6 {
	height: 50px;
	line-height: 60px;
	text-align: left;
	font-size: 20px;
	color: #333333;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.new_left dl dd p {
	font-size: 14px;
	color: #666666;
	line-height: 24px;
}
.new_left dl i {
	position: absolute;
	font-size: 14px;
	color: #666666;
	height: 16px;
	right: 18px;
	bottom: 20px;
	width: 144px;
	line-height: 16px;
}
.new_left dl b {
	position: absolute;
	font-size: 14px;
	color: #666666;
	width: 100px;
	text-align: left;
	right: 220px;
	bottom: 20px;
	height: 16px;
	line-height: 16px;
	font-weight: normal;
}
.new_right {
	float: right;
	width: 400px;
	overflow: hidden;
	padding-top: 74px;
}
.friend_link {
	margin-top: 20px;
}
.friend_link span {
	width: 353px;
	height: 98px;
	padding: 0px;
	line-height: 98px;
	text-align: center;
	font-size: 28px;
	color: #0b6ae0;
	background: url(../index_images/blue_t_bg.jpg) 112px 26px no-repeat #FFF;
}
.friend_link p {
	top: 135px;
}
.friend_link p a {
	text-indent: 0px;
	text-align: center;
	line-height: 42px;
	color: #333333;
	font-size: 16px;
}
.friend_link p a:hover {
	background: none;
}
.friend_link dl dd {
	padding-top: 110px;
}
/*===============================分页按钮样式*/
.page_div {
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 15px;
	font-family: "microsoft yahei";
	color: #666666;
	margin-right: 10px;
	padding-left: 20px;
	box-sizing: border-box;
	text-align:center;
}
/*
			 * 页数按钮样式
			 */
			
.page_div a {
	min-width: 30px;
	height: 28px;
	border: 1px solid #dce0e0!important;
	text-align: center;
	margin: 0 4px;
	cursor: pointer;
	line-height: 28px;
	color: #666666;
	font-size: 13px;
	display: inline-block;
}
/*==========================================三级内容页*/

.news_content{ width:100%; overflow:hidden;}

.content_tit{ width:100%; height:95px; border-bottom:1px solid #ececec;}
.content_tit h3{ height:55px; text-align:center; line-height:82px; font-size:22px; color:#333333;}
.content_tit p{ text-align:center; line-height:36px; width:100%;}
.content_tit p span{ color:#666666; font-size:14px; padding:0 20px;}

.main_content{ width:100%; overflow:hidden; padding-top:18px;}
.main_content p{ width:100%; text-align:left; text-indent:2em; line-height:24px; color:#666666; font-size:14px; margin-bottom:36px;}

















