
<link href="~/CSS/ContentStyle.css" rel="stylesheet" />

<table id="contentpage">
    <tr>
        <td>
            <div id="position">
                <p><span>当前位置：</span><a>新闻中心</a>/<a>新闻列表页</a>/<a>新闻详情页</a></p>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div id="contenttitle">
                <h3 id="title">我是标题我是标题我是标题我是标题我是标题我是标题我是标题我是标题我是标题我是标题</h3>
                <p id="titleinfo" style="margin-top:10px;float:right;">
                    发表人：严歌苓&nbsp;&nbsp;
                    阅读量：300&nbsp;&nbsp;
                    发表时间：2018.01.01
                </p>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div id="content">
                <p>芳华》是严歌苓所著一部小说， 严歌苓用狂欢的故事与狂欢的语言，细数了不仅仅是"芳华"这段青春时光，更展现出我们从不曾发掘的内心黑洞到恍然。</p>
                <p>《芳华》透过故事的讲述者萧穗子的眼睛，读者可以望见上世纪七十年代，一群从大江南北招募而来进入部队文工团的少男少女，望见刘峰、何小曼、萧穗子、林丁丁、郝淑雯等一个个鲜活的人物和他们所经历的残酷的青春、隐忍的爱情和坎坷的人生。</p>
                <p>从军经历伴随了严歌苓整个的青春年华。当她后来成为了一个作家，这段经历成了她取之不竭的创作源泉。《一个女兵的悄悄话》《雌性的草地》《灰舞鞋》《白麻雀》《爱犬颗勒》，都以部队生活为题材，但多是以一个作家的客观视角来为那个时代的军人塑像。而她*创作的长篇小说《芳华》则具有浓厚的个人自传色彩，是以*人称描写她当年亲历的部队文工团生活：隐藏在西南部都城的一座旧红楼里、某部队文工团的内景中发生的军版"才子佳人"的故事。</p>
                <p>《芳华》涵盖了严歌苓的青春与成长期，她在四十余年后回望这段经历，笔端蕴含了饱满的情感。青春荷尔蒙冲动下的少男少女的懵懂激情，由激情犯下的过错，由过错生出的懊悔，还有那个特殊的时代背景，种种，构成了《芳华》对一段历史、一群人以及潮流更替、境遇变迁的复杂感怀。今天的作者严歌苓与当时的小女兵萧穗子在作品里构成了理性与感性的对话关系，重新呈现了当时年代里青春的混沌、感性与蒙昧。生命的恣肆与人性的层次以及时代的的特征构成了《芳华》繁复的调性，它向读者打开了多层面的认识路径。</p>
                <p>严歌苓 小说家，电影编剧。1986年出版第一本长篇小说，同年加入中国作家协会。1989年赴美留学，获艺术硕士学位。旅美期间获得十多项美国及台湾、香港地区的文学奖，并获台湾电影金马奖*编剧奖、美国影评家协会奖。2001年加入美国电影编剧协会。代表作有《扶桑》《第九个寡妇》《小姨多鹤》《陆犯焉识》《妈阁是座城》及用英文写作的《赴宴者》等。作品已被翻译成十几种语言出版。</p>
                <p>严歌苓作品在人文社 (共6册)， 这套丛书还有 《妈阁是座城》，《扶桑》，《白蛇》，《谁家有女初长成》，《灰舞鞋》。</p>
                <p>亦作“ 芳花 ”。香花。《楚辞·九章·思美人》:“芳与泽其杂糅兮，羌芳华自中出。” 南朝 梁简文帝 《梅花赋》:“折此芳花，举兹轻袖。” 宋 范成大 《光相寺》诗:“峰顶四时如大冬，芳花芳草春自融。” 明 陈子龙 《上巳城南雨中》诗:“春甸摇芳华，长林縈幽壑。”2.美好的年华。 闽 王继鹏 《批叶翘谏书纸尾》诗:“人情自厌芳华歇，一叶随风落御沟。” 明 文徵明 《和答石田先生落花》一:“无情刚恨通宵雨，断送芳华又一年。” 清 龚自珍 《洞仙歌》词:“奈西风信早，北地寒多，埋没了，弹指芳华如电。”3.茂美。 宋 范仲淹 《老人星赋》:“增芳华於信史，协休美於祥经。” 郭沫若 《十六字令》词:“花，歌颂东风遍海涯。春永在，亿载鬭芳华。”</p>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div id="tooltip">
                <span>上一章：自学考试解决方案</span>
                <br />
                <span>下一章：2017年审计专业技术资格考试将于2017年20月22日举行</span>
            </div>
        </td>
    </tr>

</table>









