@model List<_21Education.MODEL.FriendlyLink>

Model List<_21Education.MODEL.FriendlyLink> as FriendlyLinkmodel


<ul id="friendlylink" style="margin-top:10px;">
    <li><a href="http://www.cet.edu.cn/cet_kw1.htm" target="_blank">全国大学英语四六级考委会</a></li>
    <li><a href="http://www.hdks.gov.cn/" target="_blank">北京市海淀区招生考试中心</a></li>
    <li><a href="http://www.auditexam.cn/auditexam/index" target="_blank">审计考试网</a></li>
    <li><a href="http://www.jlste.com.cn/jlste_index.asp" target="_blank">吉林省高等教育自学考试信息网</a></li>
    <li><a href="http://www.nmec.org.cn/" target="_blank">医学考试中心</a></li>
    <li><a href="http://www.bjrbj.gov.cn/bjpta/" target="_blank">北京市人事考试网</a></li>
    <li><a href="http://chaxun.neea.edu.cn/examcenter/main.jsp" target="_blank">教育部综合查询网</a></li>
    <li><a href="http://www.cpta.com.cn/" target="_blank">中国人事考试网</a></li>
    <li><a href="http://www.neea.edu.cn/" target="_blank">教育部考试中心</a></li>
    <li><a href="http://www.ch.21vianet.com/" target="_blank">世纪互联数据中心</a></li>
</ul>