
<link href="~/CSS/ListStyle.css" rel="stylesheet" />

<style>
  
</style>
<table id="bigtable">
    <tr>
        <td>
            <div id="list">
                <table class="smalltable">
                    <tr>
                        <td>
                            <div style="width:240px;height:140px;background:url('/image/about_14.jpg') 100% 100%;"></div>
                        </td>
                        <td>
                            <div style="margin:0 0 0 10px;">
                                <h4><a href="/News/NewsContent">我是标题我是标题我是标题我是标题我是标题我是标题我是标题我是标题我是标题</a></h4>
                                <p>我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容...</p>
                                <span>阅读量：300 &nbsp;&nbsp; 时间：2018.01.01</span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div id="list">
                <table class="smalltable">
                    <tr>
                        <td>
                            <div style="width:240px;height:140px;background:url('/image/about_14.jpg') 100% 100%;"></div>
                        </td>
                        <td>
                            <div style="margin:0 0 0 10px;">
                                <h4><a href="/News/NewsContent">我是标题我是标题我是标题我是标题我是标题我是标题我是标题我是标题我是标题</a></h4>
                                <p>我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容...</p>
                                <span>阅读量：300 &nbsp;&nbsp; 时间：2018.01.01</span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div id="list">
                <table class="smalltable">
                    <tr>
                        <td>
                            <div style="width:240px;height:140px;background:url('/image/about_14.jpg') 100% 100%;"></div>
                        </td>
                        <td>
                            <div style="margin:0 0 0 10px;">
                                <h4><a href="/News/NewsContent">我是标题我是标题我是标题我是标题我是标题我是标题我是标题我是标题我是标题</a></h4>
                                <p>我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容...</p>
                                <span>阅读量：300 &nbsp;&nbsp; 时间：2018.01.01</span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div id="list">
                <table class="smalltable">
                    <tr>
                        <td>
                            <div style="width:240px;height:140px;background:url('/image/about_14.jpg') 100% 100%;"></div>
                        </td>
                        <td>
                            <div style="margin:0 0 0 10px;">
                                <h4><a href="/News/NewsContent">我是标题我是标题我是标题我是标题我是标题我是标题我是标题我是标题我是标题</a></h4>
                                <p>我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容...</p>
                                <span>阅读量：300 &nbsp;&nbsp; 时间：2018.01.01</span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>
















