@model List<_21Education.MODEL.News>
<link href="~/CSS/ListStyle.css" rel="stylesheet" />


<table id="bigtable">
    @foreach (var news in Model)
    {
        <tr>
            <td>
                <div id="list" style="border-bottom:1px dashed lightgray;padding:10px 0;">
                    <table class="smalltable">
                        <tr>
                            <td>
                                <div style="margin:0 0 0 10px;width:100%;">
                                    <h4 style="margin-top:0px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;"><a href="/News/NewsContent/@(news.Id)" style="text-decoration:none;">@(news.Title)</a></h4>
                                    <div style="overflow:hidden;text-overflow:ellipsis;display: -webkit-box;-webkit-line-clamp: 2; -webkit-box-orient: vertical;height:60px;line-height:30px">@Html.Raw(news.Content)</div>
                                    <p style="color:#666666;">阅读量：@(news.ReadCount) &nbsp;&nbsp; 时间：@(news.PubDate)</p>
                                </div>
                            </td>
                        </tr>                    
                    </table>
                </div>
            </td>
        </tr>
    }
</table>
















