@model List<_21Education.MODEL.News>
<link href="~/CSS/ListStyle.css" rel="stylesheet" />


<table id="bigtable">
    @foreach (var news in Model)
    {
        <tr>
            <td>
                <div id="list" style="border-bottom:1px dashed lightgray;padding:10px 0;">
                    <table class="smalltable">
                        <tr>
                            @*<td>
                                <div style="width:240px;height:140px;background:url('@(news.ImgPath)') 100% 100%;"></div>
                            </td>*@
                            <td>
                                <div style="margin:0 0 0 10px;">
                                    <h4 style="margin-top:0px;"><a href="/News/NewsContent/@(news.Id)" style="text-decoration:none;">@(news.Title)</a></h4>
                                    <p style="line-height:30px;">@(news.Content)</p>
                                    <span style="float:right;color:#666666;">阅读量：@(news.ReadCount) &nbsp;&nbsp; 时间：@(news.PubDate.ToString("yyyy.MM.dd"))</span>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    }
</table>
















