
<style>
    /*友情链接*/
    #FrendLink {
        width: 220px;
        margin-left:10px;
        background: url('/image/index_34.jpg');
    }
        /*#FrendLink tr td{
        width:30%;
    }*/
        #FrendLink h2 {
            color: #0057be;
        }

        #FrendLink span {
            font-size: 14px;
        }

        #FrendLink ul {
            width: 240px;
            list-style: none;
            /*background-image:url('/image/index_34.jpg')*/
        }

        /*#FrendLink ul li {
            width: 240px;
        }*/

        #FrendLink ul li a {
            text-decoration: none;
            color: #666666;
            line-height: 36px;
        }

        #FrendLink ul li:hover {
            list-style:disc;
        }

        #FrendLink ul li a:hover {
            color: #0057be;
        }
        /*.borderdiv{
            width:220px;height:auto;border-radius:10px; background-color:white;line-height:30px;box-shadow:#b5d2f6 0 6px 10px;padding:10px;
        }*/
        .borderdiv em{
            font-size:16px;color:#0b6ae0;
        }
</style>



@*特色案例和友情链接*@
<table id="FrendLink" border="0">
    <tr>
        <td valign="top">
            <div class="borderdiv">
                <span style="color:#0b6ae0;font-size:20px;">特色案例</span>&nbsp;&nbsp;<span>SPECIAL CASE</span>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <ul id="charactsristiccase" style="margin-top:10px;">
                <li><a href="/News/NewsContent">数据扫描产品</a> </li>
                <li><a href="/News/NewsContent">网上阅卷服务</a> </li>
                <li><a href="/News/NewsContent">软件开发服务</a> </li>
                <li><a href="/News/NewsContent">软件产品</a> </li>
                <li><a href="/News/NewsContent">答题卡设计与印刷</a> </li>
                <li><a href="/News/NewsContent">数据中心托管服务</a> </li>
                <li><a href="/News/NewsContent">通用无纸化智能考试平台</a> </li>
                <li><a href="/News/NewsContent">网上报名管理系统</a> </li>
                <li><a href="/News/NewsContent">测评与评价系统</a> </li>
                <li><a href="/News/NewsContent">云服务中心</a> </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            <div class="borderdiv" style="margin-top:10px;">
                <span style="color:#0b6ae0;font-size:20px;">友情链接</span>&nbsp;&nbsp;<span>SPECIAL CASE</span>
            </div>
        </td>
    </tr>
    <tr>
        <td>
                <ul id="friendlylink" style="margin-top:10px;">
                <li><a href="http://www.cet.edu.cn/cet_kw1.htm" target="_blank">全国大学英语四六级考委会</a></li>
                <li><a href="http://www.hdks.gov.cn/" target="_blank">北京市海淀区招生考试中心</a></li>
                <li><a href="http://www.auditexam.cn/auditexam/index" target="_blank">审计考试网</a></li>
                <li><a href="http://www.jlste.com.cn/jlste_index.asp" target="_blank">吉林省高等教育自学考试信息网</a></li>
                <li><a href="http://www.nmec.org.cn/" target="_blank">医学考试中心</a></li>
                <li><a href="http://www.bjrbj.gov.cn/bjpta/" target="_blank">北京市人事考试网</a></li>
                <li><a href="http://chaxun.neea.edu.cn/examcenter/main.jsp" target="_blank">教育部综合查询网</a></li>
                <li><a href="http://www.cpta.com.cn/" target="_blank">中国人事考试网</a></li>
                <li><a href="http://www.neea.edu.cn/" target="_blank">教育部考试中心</a></li>
                <li><a href="http://www.ch.21vianet.com/" target="_blank">世纪互联数据中心</a></li>
            </ul>
</td>
    </tr>
</table>