






<ul id="charactsristiccase" style="margin-top:10px;">
    <li><a href="/News/NewsContent">数据扫描产品</a> </li>
    <li><a href="/News/NewsContent">网上阅卷服务</a> </li>
    <li><a href="/News/NewsContent">软件开发服务</a> </li>
    <li><a href="/News/NewsContent">软件产品</a> </li>
    <li><a href="/News/NewsContent">答题卡设计与印刷</a> </li>
    <li><a href="/News/NewsContent">数据中心托管服务</a> </li>
    <li><a href="/News/NewsContent">通用无纸化智能考试平台</a> </li>
    <li><a href="/News/NewsContent">网上报名管理系统</a> </li>
    <li><a href="/News/NewsContent">测评与评价系统</a> </li>
    <li><a href="/News/NewsContent">云服务中心</a> </li>
</ul>