
@model List<_21Education.MODEL.Success>
<link href="~/CSS/ListStyle.css" rel="stylesheet" />


<table id="bigtable">
    @foreach (var success in Model)
    {
        <tr>
            <td>
                <div id="list" style="border-bottom:1px dashed lightgray;padding:10px 0;">
                    <table class="smalltable">
                        <tr>
                            @*<td>
                                    <div style="width:240px;height:140px;background:url('@(news.ImgPath)') 100% 100%;"></div>
                                </td>*@
                            <td>
                                <div style="margin:0 0 0 10px;">
                                    <h4 style="margin-top:0px;"><a href="/Success/SuccessContent/@(success.Id)" style="text-decoration:none;">@(success.Title)</a></h4>
                                    <p style="line-height:30px;">@Html.Raw(success.Content)</p>
                                    <span style="float:right;color:#666666;">阅读量：@(success.ReadCount) &nbsp;&nbsp; 时间：@(success.PubDate)</span>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    }
</table>
