@{
    ViewBag.Title = "NewsContent";
    Layout = "~/Views/Shared/View1.cshtml";
}
<style>
    #contenttitle{
        width:1000px;
        margin:auto;
    }
</style>
<table id="contenttitle">
    <tr>
        <td>
            <div id="position">
                <p style="color:#666666;"><span>当前位置：</span><a href="/News/NewsList" style="color:#0057be;">新闻中心</a>/<a>新闻详情页</a></p>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div style="height:auto;">
                @*@Html.Partial("~/Views/PartView/ContentPage.cshtml")*@

                <table id="contentpage">
                    <tr>
                        <td>
                            <div id="contenttitle">
                                <h3 id="title">我是标题我是标题我是标题我是标题我是标题我是标题我是标题我是标题我是标题我是标题</h3>
                                <p id="titleinfo" style="margin-top:10px;float:right;">
                                    发表人：严歌苓&nbsp;&nbsp;
                                    阅读量：300&nbsp;&nbsp;
                                    发表时间：2018.01.01
                                </p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="content">
                                @ViewBag.content                            
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="tooltip">
                                <a href="/News/NewsContent">《《上一章：自学考试解决方案</a>
                                <br />
                                <a href="/News/NewsContent">》》下一章：2017年审计专业技术资格考试将于2017年20月22日举行</a>
                                <br />
                                <div style="float:right;">
                                    <a href="/News/NewsList">返回列表</a>/
                                    <a href="#" id="test">回到顶部</a>
                                    <script>
                        test.onclick = function () {
                            document.body.scrollTop = document.documentElement.scrollTop = 0;
                        }
                                    </script>
                                </div>
                            </div>
                        </td>
                    </tr>

                </table>




            </div>
        </td>
    </tr>
</table>

