@{
    ViewBag.Title = "NewsContent";
    Layout = "~/Views/Shared/View1.cshtml";
}
<style>
    #contenttitle{
        width:1000px;
        margin:auto;
    }
</style>
<table id="contenttitle">
    <tr>
        <td>
            <div id="position">
                <p style="color:#666666;"><span>当前位置：</span><a href="/News/NewsList" style="color:#0057be;">新闻中心</a>/<a>新闻详情页</a></p>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div style="height:auto;">
                @Html.Partial("~/Views/PartView/ContentPage.cshtml")
            </div>
        </td>
    </tr>
</table>

