@{
    ViewBag.Title = "NewsList";
    Layout = "~/Views/Shared/View1.cshtml";
}
@model NewsListViewModel
<table style="margin:auto;">
    <tr class="firsttr">
        <td colspan="2">
            <div style="height:70px;margin-bottom:15px;">
                <h2>______ 新闻中心 ______</h2>
                <span>NEWS CENTER</span>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div style="height:auto;">
                @Html.Partial("~/Views/PartView/ListPage.cshtml")
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div style="height:auto;width:70%;">
                @{Html.Pagin(Model.Pagination);}
            </div>
        </td>
    </tr>
</table>
@Html.Partial("~/Views/PartView/Partial.FriendlyLink.cshtml")


