@{
    ViewBag.Title = "NewsList";
    Layout = "~/Views/Shared/View1.cshtml";
}

<table style="margin:auto;">
    <tr>
        <td>
            <div style="height:50px;border-bottom:1px solid #efefef;">
                <h3 ><img src="~/image/dian2.png" style="padding-right:15px;" />新闻中心</h3>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div style="height:auto;">
                @Html.Partial("~/Views/PartView/ListPage.cshtml")
            </div>
        </td>
    </tr>
</table>



