@{
    ViewBag.Title = "NewsList";
    Layout = "~/Views/Shared/View1.cshtml";
}
@model NewsListViewModel

<table style="margin:auto;width:1000px;">
    <tr class="firsttr" style="text-align:center;">
        <td colspan="2">
            <div>
                <h3 style="color:#0057be;">______ 新闻中心 ______</h3>
                <span>NEWS CENTER</span>
            </div>
        </td>
    </tr>
    <tr>
        <td valign="top">
            @Html.Partial("~/Views/PartView/NewListPage.cshtml")
            <div style="margin-top:10px;">
                @{Html.Pagin(Model.Pagination);}
            </div>
            
            
        </td>
        <td valign="top">
            @Html.Partial("~/Views/PartView/Partial.FriendlyLink.cshtml")
        </td>
    </tr>
</table>







