@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/View1.cshtml";
}

<link href="~/CSS/IndexStyle.css" rel="stylesheet" />
<style>
   
   /*轮播图*/
    #carousel {
        margin-top:10px;
        width: 100%;
        height:300px;
        background: url('../../image/bg.png') center no-repeat;
    }

    #lunbo{
        width:1000px;
        height:300px;
        margin:auto;
        padding:0;
        position: relative;
    }
    #lunbo li{
        list-style:none;
        position: absolute;
        top:0;
	    left:0;
    }
    #newstable,#businesstable,#successtable{
         width:1000px;
         height:600px;
         margin:auto; 
    }
  .firsttr{
      height:100px;
      text-align:center;
  }
  /*产品服务新闻*/
  .firsttr h3{
      color:#0057be;
  }
 
  /*产品展示*/
  #producttable{
      width:1000px;
      height:400px;
      margin:auto;
  }
  #productimage{
      width:600px;
      height:220px;
  }
  /*成功案例*/
  .caseinfo{
      width:240px;
      height:150px;
      text-align:center;
      border-bottom:2px solid #0057be;
  }


  /*品牌优势*/
  #brandtable{
       width:1000px;
       height:400px;
       margin:auto; 
       color:white;
  }
  #advantage dl {
	float: left;
	width: 240px;
	overflow: hidden;
}
#advantage dl dt {
	width: 100%;
	text-align: center;
	line-height: 48px;
	color: #FFF;
	font-size: 18px;
}
    #advantage dl dd {
        text-align: center;
        color: #FFF;
        line-height: 20px;
        font-size: 12px;
    }



</style>

@*轮播图*@
<div id="carousel">
       <ul id="lunbo">
           <li><img style="width:1000px;height:300px;" src="~/image/index_ban1.png" /></li>
           <li><img style="width:1000px;height:300px;" src="~/image/index_ban2.png" /></li>
           <li><img style="width:1000px;height:300px;" src="~/image/index_ban3.png" /></li>
       </ul> 
</div>

@*产品服务新闻*@
<div id="newstable">
    <table id="newstable">
        <tr class="firsttr">
            <td>
                <h3>产品服务新闻</h3>
                <span>PRODUCT SERVICE NEWS</span>

            </td>
        </tr>
        <tr>
            <td style="width:700px;height:500px;">

                <table style="width:650px;height:450px;">
                    <tr>
                        <td colspan="2">
                            <div style="width:670px;height:200px;background:url('/image/index_30.png') 100% 100%"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><img style="width:220px;height:125px;" src="~/image/index_37.png" /></td>
                        <td>
                            <div style="margin-left:8px;">
                                <p style="margin-top:0px;">2018中高考英语听力首次机考时间确定，一年双考</p>
                                <p style="font-size:12px;color:#666666;line-height:22px;">近日，北京市教委公布关于《中、高考英语听说计算机考试有关事项的通知》自今年年底开始，北京将实施中高考英语听力口语考试改革...</p>
                                <span style="font-size:12px;float:right;color:#666666;">2018.01.01</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><img style="width:220px;height:125px;" src="~/image/index_37.png" /></td>
                        <td>
                            <div style="margin-left:8px;">
                                <p style="margin-top:0px;">2018中高考英语听力首次机考时间确定，一年双考</p>
                                <p style="font-size:12px;color:#666666;line-height:22px;">近日，北京市教委公布关于《中、高考英语听说计算机考试有关事项的通知》自今年年底开始，北京将实施中高考英语听力口语考试改革...</p>
                                <span style="font-size:12px;float:right;color:#666666;">2018.01.01</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><img style="width:220px;height:125px;" src="~/image/index_37.png" /></td>
                        <td>
                            <div style="margin-left:8px;">
                                <p style="margin-top:0px;">2018中高考英语听力首次机考时间确定，一年双考</p>
                                <p style="font-size:12px;color:#666666;line-height:22px;">近日，北京市教委公布关于《中、高考英语听说计算机考试有关事项的通知》自今年年底开始，北京将实施中高考英语听力口语考试改革...</p>
                                <span style="font-size:12px;float:right;color:#666666;">2018.01.01</span>
                            </div>
                        </td>
                    </tr>
                </table>

            </td>
            <td style="width:300px;height:600px;">

                <div style="width:300px;height:600px;">
                    <div id=" top" style="width:300px;height:200px;">
                        <span><em>北京世纪</em>互联软件开发有限公司主要面向教育及考试服务领域，提供相关应用软件开发和互联网应用等在内的一站式考试服务</span>
                    </div>
                    <div id="bottom" style="width:300px;height:400px;background:url('/image/index_34.png')">
                        <p><a href="#" target="_blank">数据扫描产品</a></p>
                        <p><a href="#" target="_blank">网上阅卷服务</a></p> 
                        <p><a href="#" target="_blank">软件开发服务</a></p>
                        <p><a href="#" target="_blank">软件产品</a></p>
                        <p><a href="#" target="_blank">答题卡设计与印刷</a></p>
                        <p><a href="#" target="_blank">数据中心托管服务</a></p>
                        
                    </div>
                </div>

               
                @*<div class="new_rt">

                    <span><em>北京世纪</em>互联软件开发有限公司主要面向教育及考试服务领域，提供相关应用软件开发和互联网应用等在内的一站式考试服务</span>
                    <p>
                        <a href="#" target="_blank">数据扫描产品</a>
                        <a href="#" target="_blank">网上阅卷服务</a>
                        <a href="#" target="_blank">软件开发服务</a>
                        <a href="#" target="_blank">软件产品</a>
                        <a href="#" target="_blank">答题卡设计与印刷</a>
                        <a href="#" target="_blank">数据中心托管服务</a>
                    </p>
                </div>*@

            </td>
        </tr>
    </table>
</div>

@*主营业务*@
<div id="business">
    <table id="businesstable">
        <tr class="firsttr">
            <td colspan="2">
                <h3>主营业务</h3>
                <span>MAIN BUSINESS</span>
            </td>
        </tr>
       
    </table>
</div>

@*产品展示*@
<div id="product">
    <table id="producttable">
        <tr class="firsttr">
            <td colspan="2">
                <h3>产品展示</h3>
                <span>PROJECT SHOW</span>
            </td>
        </tr>
        <tr>
            <td>
                <div id="productimage" style="background-image: url('../../image/index_21.png');">

                </div>
            </td>
            <td>
                <div style="margin:0px 20px;">
                    <h3>云产品服务中心</h3>
                    <p style="line-height:36px;color:#666666;">云产品服务中心云产品服务中心云产品服务中心云产品服务中心云产品服务中心云产品服务中心云产品服务中心云产品服务中心云产品服务中心云产品服务中心云产品服务中心云产品服务中心云产品服务中心</p>
                </div>
            </td>
        </tr>
    </table>
</div>

@*成功案例*@
<div id="success">
    <table id="successtable">
        <tr class="firsttr">
            <td colspan="4">
                <h3>成功案例</h3>
                <span>SUCCESSFUL CASE</span>
            </td>
        </tr>
        <tr>
            <td>
                <table class="caseinfo">
                    <tr>
                        <td><img src="~/image/Success_one.png" /></td>
                    </tr>
                    <tr>
                        <td>20年专注教育考试服务领域</td>
                    </tr>
                </table>
               
            </td>
            <td>
                <table class="caseinfo">
                    <tr>
                        <td><img src="~/image/Success_two.png" /></td>
                    </tr>
                    <tr>
                        <td>20年专注教育考试服务领域</td>
                    </tr>
                </table>

            </td>
            <td>
                <table class="caseinfo">
                    <tr>
                        <td><img src="~/image/Success_three.png" /></td>
                    </tr>
                    <tr>
                        <td>20年专注教育考试服务领域</td>
                    </tr>
                </table>

            </td>
            <td>
                <table class="caseinfo">
                    <tr>
                        <td><img src="~/image/Success_four.png" /></td>
                    </tr>
                    <tr>
                        <td>20年专注教育考试服务领域</td>
                    </tr>
                </table>

            </td>
            
        </tr>
        <tr>
            <td>
                <table class="caseinfo">
                    <tr>
                        <td><img src="~/image/Success_five.png" /></td>
                    </tr>
                    <tr>
                        <td>20年专注教育考试服务领域</td>
                    </tr>
                </table>

            </td>
            <td>
                <table class="caseinfo">
                    <tr>
                        <td><img src="~/image/Success_six.png" /></td>
                    </tr>
                    <tr>
                        <td>20年专注教育考试服务领域</td>
                    </tr>
                </table>

            </td>
            <td>
                <table class="caseinfo">
                    <tr>
                        <td><img src="~/image/Success_seven.png" /></td>
                    </tr>
                    <tr>
                        <td>20年专注教育考试服务领域</td>
                    </tr>
                </table>

            </td>
            <td>
                <table class="caseinfo">
                    <tr>
                        <td><img src="~/image/Success_eight.png" /></td>
                    </tr>
                    <tr>
                        <td>20年专注教育考试服务领域</td>
                    </tr>
                </table>

            </td>

        </tr>
    </table>
</div>
@*品牌优势*@
<div id="brand" style="width:1000px;height:360px;margin:auto; background:url('/image/index_26.jpg') 100% 100%">
    <table id="brandtable">
        <tr class="firsttr">
            <td colspan="4">
                <h3>品牌优势</h3>
                <span>BRAND ADVANTAGE</span>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr id="advantage">
            <td>
                <dl>
                    <dt>安全/稳定/高效</dt>
                    <dd>基于高效的缓存机制，安全、严谨的<br />程序算法开发，支持横向扩展，提升处理能力</dd>
                </dl>
            </td>
            <td>
                <dl>
                    <dt>高度可配置化</dt>
                    <dd>快速、智能的实现可定制化的在线考试<br />应用，人工操作加自动处理并行，效率翻倍</dd>
                </dl>
            </td>
            <td>
                <dl>
                    <dt>高度智能</dt>
                    <dd>智能批改、人工干预方便高效，自带核心统<br />计功能，可定制数据分析功能，快速掌握考</dd>
                </dl>
            </td>
            <td>
                <dl>
                    <dt>操作灵活方便</dt>
                    <dd>优化操作流程，鼠标拖拽，数据克隆等技术<br />使得操作简便快捷</dd>
                </dl>
            </td>
        </tr>
    </table>
</div>




