@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/View1.cshtml";
}
@model HomeIndexViewModel
<title>首页</title>
<link href="~/CSS/IndexStyle.css" rel="stylesheet" />
<style>
    #carousel {
        margin-top: 10px;
        width: 100%;
        height: 380px;
        background: url('../../image/bg.png') 100% 100%;
    }

    #newstable {
        width: 1000px;
        height: 720px;
        margin: auto;
    }

    #businesstable {
        width: 1000px;
        height: 400px;
        margin: auto;
    }

    #successtable {
        width: 1000px;
        height: 600px;
        margin: auto;
    }

    .firsttr {
        height: 100px;
        text-align: center;
    }

        .firsttr h3 {
            color: #0057be;
        }
    /*产品服务新闻*/
    #bottom a {
        text-decoration: none;
        color: #666666;
        padding: 10px;
        font-size: 20px;
        line-height: 52px;
    }

        #bottom a:hover {
            color: #0057be;
        }

    /*产品展示*/
    #producttable {
        width: 1000px;
        height: 400px;
        margin: auto;
    }

    #productimage {
        width: 600px;
        height: 180px;
    }
    /*成功案例*/
    .caseinfo {
        width: 240px;
        height: 150px;
        text-align: center;
        border-bottom: 2px solid #0057be;
    }


    /*品牌优势*/
    #brandtable {
        width: 1000px;
        height: 300px;
        margin: auto;
        color: white;
    }

    #advantage dl {
        float: left;
        width: 240px;
        overflow: hidden;
    }

        #advantage dl dt img {
            width: 100px;
            height: 80px;
            margin: auto;
        }

        #advantage dl dt {
            width: 100%;
            text-align: center;
            line-height: 30px;
            color: #FFF;
            font-size: 16px;
        }

        #advantage dl dd {
            margin: 0;
            text-align: center;
            color: #FFF;
            line-height: 20px;
            font-size: 10px;
        }

            #advantage dl dd p {
                font-weight: bold;
                font-size: 16px;
            }
</style>
@*轮播图*@
@Html.Partial("~/Views/PartView/Partial.Carousel.cshtml", Model.Carousel)
@*产品服务新闻*@
<div id="newstable">
    <table id="newstable" border="1">
        <tr class="firsttr">
            <td colspan="2">
                <h3>产品服务新闻</h3>
                <span>PRODUCT SERVICE NEWS</span>

            </td>
        </tr>
        <tr>
            <td style="width:700px;height:500px;">

                <table style="width:650px;height:450px;">
                    <tr>
                        <td colspan="2">
                            <div style="width:670px;height:200px;background:url('/image/index_30.png') 100% 100%"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><img style="width:220px;height:125px;" src="~/image/index_37.png" /></td>
                        <td>
                            <div style="margin-left:8px;">
                                <p style="margin-top:0px;">2018中高考英语听力首次机考时间确定，一年双考</p>
                                <p style="font-size:12px;color:#666666;line-height:22px;">近日，北京市教委公布关于《中、高考英语听说计算机考试有关事项的通知》自今年年底开始，北京将实施中高考英语听力口语考试改革...</p>
                                <span style="font-size:12px;float:right;color:#666666;">2018.01.01</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><img style="width:220px;height:125px;" src="~/image/index_37.png" /></td>
                        <td>
                            <div style="margin-left:8px;">
                                <p style="margin-top:0px;">2018中高考英语听力首次机考时间确定，一年双考</p>
                                <p style="font-size:12px;color:#666666;line-height:22px;">近日，北京市教委公布关于《中、高考英语听说计算机考试有关事项的通知》自今年年底开始，北京将实施中高考英语听力口语考试改革...</p>
                                <span style="font-size:12px;float:right;color:#666666;">2018.01.01</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><img style="width:220px;height:125px;" src="~/image/index_37.png" /></td>
                        <td>
                            <div style="margin-left:8px;">
                                <p style="margin-top:0px;">2018中高考英语听力首次机考时间确定，一年双考</p>
                                <p style="font-size:12px;color:#666666;line-height:22px;">近日，北京市教委公布关于《中、高考英语听说计算机考试有关事项的通知》自今年年底开始，北京将实施中高考英语听力口语考试改革...</p>
                                <span style="font-size:12px;float:right;color:#666666;">2018.01.01</span>
                            </div>
                        </td>
                    </tr>
                </table>

            </td>
            <td style="width:300px;height:600px;">

                <div style="width:300px;height:600px;background:url('/image/index_34.jpg')">
                    <div id="top" style="width:280px;height:180px;line-height:46px;padding:0px 10px;">
                        <span><em style="color:#0057be;font-size:20px;">北京世纪互联</em>软件开发有限公司主要面向教育及考试服务领域，提供相关应用软件开发和互联网应用等在内的一站式考试服务</span>
                    </div>
                    <div id="bottom" style="width:300px;height:400px;">
                        <ul>
                            <li><p><a href="#">数据扫描产品</a></p></li>
                            <li><p><a href="#">网上阅卷服务</a></p> </li>
                            <li><p><a href="#">软件开发服务</a></p></li>
                            <li><p><a href="#">软件产品</a></p></li>
                            <li><p><a href="#">答题卡设计与印刷</a></p></li>
                            <li><p><a href="#">数据中心托管服务</a></p></li>
                        </ul>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>

@*主营业务*@
<div id="business">
    <table id="businesstable" border="1">
        <tr class="firsttr">
            <td colspan="8">
                <h3>主营业务</h3>
                <span>MAIN BUSINESS</span>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>

@*产品展示*@
<div id="product">
    <table id="producttable" border="1">
        <tr class="firsttr">
            <td colspan="2">
                <h3>产品展示</h3>
                <span>PROJECT SHOW</span>
            </td>
        </tr>
        <tr>
            <td>
                <div id="productimage" style="background-image: url('../../image/index_21.png');">

                </div>
            </td>
            <td rowspan="2">
                <div style="margin:0px 20px;">
                    <h3>云产品服务中心</h3>
                    <p style="line-height:36px;color:#666666;">云产品服务中心云产品服务中心云产品服务中心云产品服务中心云产品服务中心云产品服务中心云产品服务中心云产品服务中心云产品服务中心云产品服务中心云产品服务中心云产品服务中心云产品服务中心</p>
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
    </table>
</div>

@*成功案例*@
<div id="success">
    <table id="successtable" border="1">
        <tr class="firsttr">
            <td colspan="4">
                <h3>成功案例</h3>
                <span>SUCCESSFUL CASE</span>
            </td>
        </tr>
        <tr>
            <td>
                <table class="caseinfo">
                    <tr>
                        <td><img src="~/image/Success_one.png" /></td>
                    </tr>
                    <tr>
                        <td>20年专注教育考试服务领域</td>
                    </tr>
                </table>

            </td>
            <td>
                <table class="caseinfo">
                    <tr>
                        <td><img src="~/image/Success_two.png" /></td>
                    </tr>
                    <tr>
                        <td>20多种职业证书的教务评卷工作</td>
                    </tr>
                </table>

            </td>
            <td>
                <table class="caseinfo">
                    <tr>
                        <td><img src="~/image/Success_three.png" /></td>
                    </tr>
                    <tr>
                        <td>核心人员20余年行业经验</td>
                    </tr>
                </table>

            </td>
            <td>
                <table class="caseinfo">
                    <tr>
                        <td><img src="~/image/Success_four.png" /></td>
                    </tr>
                    <tr>
                        <td>100余个考试测评项目</td>
                    </tr>
                </table>

            </td>

        </tr>
        <tr>
            <td>
                <table class="caseinfo">
                    <tr>
                        <td><img src="~/image/Success_five.png" /></td>
                    </tr>
                    <tr>
                        <td>300多个高校考点密切合作</td>
                    </tr>
                </table>

            </td>
            <td>
                <table class="caseinfo">
                    <tr>
                        <td><img src="~/image/Success_six.png" /></td>
                    </tr>
                    <tr>
                        <td>2000余万/年考试测评服务科次</td>
                    </tr>
                </table>

            </td>
            <td>
                <table class="caseinfo">
                    <tr>
                        <td><img src="~/image/Success_seven.png" /></td>
                    </tr>
                    <tr>
                        <td>10000余万次累计考试测评服务科次</td>
                    </tr>
                </table>

            </td>
            <td>
                <table class="caseinfo">
                    <tr>
                        <td><img src="~/image/Success_eight.png" /></td>
                    </tr>
                    <tr>
                        <td>100万人以上大规模网上服务项目</td>
                    </tr>
                </table>

            </td>

        </tr>
    </table>
</div>
@*品牌优势*@
<div id="brand" style="width:1000px;height:360px;margin:auto;background:url('/image/index_26.jpg')">
    <table id="brandtable" border="1">
        <tr class="firsttr">
            <td colspan="4">
                <h3>品牌优势</h3>
                <span>BRAND ADVANTAGE</span>
            </td>
        </tr>
        <tr id="advantage">
            <td>
                <dl>
                    <dt><img src="~/image/indexone.png" /></dt>
                    <dd>
                        <p>安全/稳定/高效</p>
                        <span>基于高效的缓存机制，安全、严谨的<br />程序算法开发，支持横向扩展，提升处理能力</span>
                    </dd>
                </dl>
            </td>
            <td>
                <dl>
                    <dt><img src="~/image/indextwo.png" /></dt>
                    <dd>
                        <p>高度可配置化</p>
                        <span>快速、智能的实现可定制化的在线考试<br />应用，人工操作加自动处理并行，效率翻倍</span>
                    </dd>
                </dl>
            </td>
            <td>
                <dl>
                    <dt><img src="~/image/indexthree.png" /></dt>
                    <dd>
                        <p>高度智能</p>
                        <span>智能批改、人工干预方便高效，自带核心统<br />计功能，可定制数据分析功能，快速掌握考</span>
                    </dd>
                </dl>
            </td>
            <td>
                <dl>
                    <dt><img src="~/image/indexfour.png" /></dt>
                    <dd>
                        <p>操作灵活方便</p>
                        <span>优化操作流程，鼠标拖拽，数据克隆等技术<br />使得操作简便快捷</span>
                    </dd>
                </dl>
            </td>
        </tr>
    </table>
</div>




