@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/View1.cshtml";
}
@model HomeIndexViewModel
<title>首页</title>
@*<link href="~/CSS/IndexStyle.css" rel="stylesheet" />*@
<link href="~/CSS/Carousel-index.css" rel="stylesheet" />
<script src="~/Content/js/Carousel.js"></script>

<style>
    .table {
        width: 1000px;
        margin: auto;
        border-bottom: 1px dashed #f7f7f7;
    }

    .newsfriendlyul li a {
        line-height: 36px;
        text-decoration: none;
        color: #666666;
        display: block;
    }

    .newsfriendlyul li:hover {
        color: #0057be;
        list-style: disc;
    }

    .newsfriendlyul li a:hover {
        color: #0057be;
    }

    /*主营业务*/
    #mainbusiness a {
        line-height: 40px;
    }

    #mainbusiness .active{
        color: white;
        background-color: #0057be;
    }

    #mainbusiness td:hover {
        color: white;
        background-color: #0057be;
    }

    #mainbusiness td a {
        width: 100%;
        display: block;
    }

        #mainbusiness td a:hover {
            color: white;
        }

    .carousel.banner {
        width: 100%;
        height: 310px;
        /*background: url('../../image/bg.png') 100% 100%;*/
        z-index: 900;
    }

    .businesstitle{
        text-decoration:none;color:#000;
    }

    .businesstitle:hover{
        color:#0057be;
    }
    /*品牌优势*/
    #productadvantage {
        width: 1000px;
        height: 320px;
        margin: auto;
        margin-top: 30px;
    }
</style>

@*轮播图*@
@Html.Partial("~/Views/PartView/Partial.Carousel.cshtml", Model.Carousel)

@*产品服务*@
@*<table class="table" id="index.productservice" border="0" style="text-align:center;">
    <tr class="firsttr">
        <td colspan="6">
            <h3 style="color:#0057be;">______ 产品展示 ______</h3>
            <span style="font-size:14px;color:#666666;">PRODUCT Show</span>
        </td>
    </tr>
    <tr style="text-align:center;">
        <td style="height:15px;"></td>
    </tr>
    <tr>
        <td>
            @Html.Partial("~/Views/PartView/Partial.Carousel.cshtml", Model.ProductShow)
        </td>
    </tr>
</table>*@


@*主营业务*@
<table class="table" id="index.productservice" style="text-align:center;margin-top:10px;">
    <tr class="firsttr">
        <td colspan="6">
            <h3 style="color:#0057be;">______ 产品服务 ______</h3>
            <span style="font-size:14px;color:#666666;">MAIN BUSINESS</span>
        </td>
    </tr>
    <tr style="text-align:center;">
        <td style="height:15px;"></td>
    </tr>
    <tr>
        <td style="width:250px;" valign="top">
            <table id="mainbusiness" style="width:100%;height:auto;border-collapse:collapse;background-color:#f7f7f7;border:#dfdfdf 1px solid;box-shadow:0px 0px 5px 4px rgba(232,232,232,.3);cursor:pointer;" border="1">
                <tr>
                    <td><a>网上阅卷</a></td>
                </tr>
                <tr>
                    <td><a>无纸化智能考试</a></td>
                </tr>
                <tr>
                    <td><a>网上报名管理系统</a></td>
                </tr>
                <tr>
                    <td><a>图库系统</a></td>
                </tr>
                <tr>
                    <td><a>评测与评价系统</a></td>
                </tr>
                <tr>
                    <td><a>云服务中心</a></td>
                </tr>
                <tr>
                    <td><a>数据处理中心</a></td>
                </tr>
            </table>
        </td>
        <td style="border:#dfdfdf 1px solid;box-shadow:0px 0px 5px 4px rgba(232,232,232,.3);background-color:#f7f7f7;text-align:left;">
            <table id="businessdiv" style="margin-left:30px;">
                <tr>
                    <td><img src="~/image/about_14.jpg" style="width:350px;height:220px;" /></td>
                    <td>
                        <p style="font-size:20px;line-height:40px;color:black;margin-left:70px;"><a class="businesstitle" href="/News/NewsContent">网上阅卷</a></p>
                        <ul style="width:350px;line-height:30px;color:#666666;margin-left:70px;">
                            <li>信息卡设计与印刷</li>
                            <li>数据扫描产品</li>
                            <li>网上阅卷系统</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><img src="~/image/znks.jpg" style="width:350px;height:220px;" /></td>
                    <td>
                        <p style="font-size:20px;line-height:40px;color:black;margin-left:70px;"><a class="businesstitle" href="/News/NewsContent">无纸化智能考试</a></p>
                        <ul style="width:350px;line-height:30px;color:#666666;margin-left:70px;">
                            <li>通用无纸化智能考试平台</li>
                            <li>大学英语四六级口语考试系统</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><img src="~/image/login.jpg" style="width:350px;height:220px;" /></td>
                    <td>
                        <p style="font-size:20px;line-height:40px;color:black;margin-left:70px;"><a class="businesstitle" href="/News/NewsContent">网上报名管理系统</a></p>
                        <ul style="width:350px;line-height:30px;color:#666666;margin-left:70px;">
                            <li>网上报名系统</li>
                            <li>考务管理系统</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><img src="~/image/tk_system.jpg" style="width:350px;height:220px;" /></td>
                    <td>
                        <p style="font-size:20px;line-height:40px;color:black;margin-left:70px;"><a class="businesstitle" href="/News/NewsContent">图库系统</a></p>
                        <ul style="width:350px;line-height:30px;color:#666666;margin-left:70px;">
                            <li>系统支持试题的存储/检索/组卷</li>
                            <li>支持多种形式的试题及答案的管理</li>
                            <li>确保数据体系化的留存</li>
                            <li>数据加密与备份机制安全可靠</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><img src="~/image/pcpj.jpg" style="width:350px;height:220px;" /></td>
                    <td>
                        <p style="font-size:20px;line-height:40px;color:black;margin-left:70px;"><a class="businesstitle" href="/News/NewsContent">评测与评价系统</a></p>
                        <ul style="width:350px;line-height:30px;color:#666666;margin-left:70px;">
                            <li>多层级、多权限管理</li>
                            <li>软件操作简单易用</li>
                            <li>支持远程在线操作</li>
                            <li>支持多种数据来源</li>
                            <li>灵活的数据发布方式</li>
                            <li>提供数据分析</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><img src="~/image/cloud.jpg" style="width:350px;height:220px;" /></td>
                    <td>
                        <p style="font-size:20px;line-height:40px;color:black;margin-left:70px;"><a class="businesstitle" href="/News/NewsContent">云服务中心</a></p>
                        <ul style="width:350px;line-height:30px;color:#666666;margin-left:70px;">
                            <li>云平台服务</li>
                            <li>云服务器租用服务</li>
                            <li>网络设备租用服务</li>
                            <li>数据备份/数据恢复服务</li>
                            <li>大数据加密存储服务</li>
                            <li>数据安全防护</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><img src="~/image/data.jpg" style="width:350px;height:220px;" /></td>
                    <td>
                        <p style="font-size:20px;line-height:40px;color:black;margin-left:70px;"><a class="businesstitle" href="/News/NewsContent">数据处理中心</a></p>
                        <ul style="width:350px;line-height:30px;color:#666666;margin-left:70px;">
                            <li>数据处理服务</li>
                            <li>卷库管理</li>
                            <li>保密室管理</li>
                            <li>7*24小时无死角监控</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<script>


    $("#mainbusiness a").click(function () {
        var index = $(this).index("#mainbusiness a");
        $("#mainbusiness a").eq(index).addClass("active").siblings().removeClass("active")
        console.log(index);
        $("#businessdiv tr").eq(index).show().siblings().hide();
    }).eq(0).click();
    var interval = setInterval(function () {
        var $a = $("#mainbusiness a");
        $a.eq($a.filter(".active").index($a) == $a.length - 1 ? 0 : ($a.filter(".active").index($a) + 1)).click();
        console.log($a.filter(".active").index($a) == $a.length - 1 ? 0 : ($a.filter(".active").index($a) + 1));
        //console.log($a);
    }, 5000);

</script>

@*品牌优势*@
<div id="brand" style="width:1000px;height:240px;margin:auto;text-align:center;margin-top:10px;">
    <table id="brandtable">
        <tr class="firsttr">
            <td colspan="4">
                <h3 style="color:#0057be;">______ 品牌优势 ______</h3>
                <span style="font-size:14px;color:#666666;">BRAND ADVANTAGE</span>
            </td>
        </tr>
        <tr style="text-align:center;">
            <td style="height:15px;"></td>
        </tr>
        <tr id="advantage" style="font-size:14px;line-height:20px;color:#666666;margin-top:10px;">
            <td valign="baseline">
                <dl style="width:90%;height:160px; border:#dfdfdf 1px solid;box-shadow:0px 0px 5px 4px rgba(232,232,232,.3);padding:10px;">
                    <dt><img src="~/image/index.V3/indexone.png" /></dt>
                    <dd>
                        <p style="font-size:16px;line-height:30px;color:#000;">安全/稳定/高效</p>
                        <span>基于高效的缓存机制，安全、严谨的<br />程序算法开发，支持横向扩展，提升处理能力</span>
                    </dd>
                </dl>
            </td>
            <td valign="baseline">
                <dl style="width:90%;height:160px; border:#dfdfdf 1px solid;box-shadow:0px 0px 5px 4px rgba(232,232,232,.3);padding:10px;">
                    <dt><img src="~/image/index.V3/indextwo.png" /></dt>
                    <dd>
                        <p style="font-size:16px;line-height:30px;color:#000;">高度可配置化</p>
                        <span>快速、智能的实现可定制化的在线考试<br />应用，人工操作加自动处理并行，效率翻倍</span>
                    </dd>
                </dl>
            </td>
            <td valign="baseline">
                <dl style="width:90%;height:160px; border:#dfdfdf 1px solid;box-shadow:0px 0px 5px 4px rgba(232,232,232,.3);padding:10px;">
                    <dt><img src="~/image/index.V3/indexthree.png" /></dt>
                    <dd>
                        <p style="font-size:16px;line-height:30px;color:#000;">高度智能</p>
                        <span>智能批改、人工干预方便高效，自带核心统<br />计功能，可定制数据分析功能，快速掌握考</span>
                    </dd>
                </dl>
            </td>
            <td valign="baseline">
                <dl style="width:90%;height:160px; border:#dfdfdf 1px solid;box-shadow:0px 0px 5px 4px rgba(232,232,232,.3);padding:10px;">
                    <dt><img src="~/image/index.V3/indexfour.png" /></dt>
                    <dd>
                        <p style="font-size:16px;line-height:30px;color:#000;">操作灵活方便</p>
                        <span>优化操作流程，鼠标拖拽，数据克隆等技术<br />使得操作简便快捷</span>
                    </dd>
                </dl>
            </td>
        </tr>
    </table>
</div>

@*新闻中心和友情链接*@
<table class="table" id="newsfriendly" style="width:1000px;margin-top:20px;">
    <tr>
        <td>
            <div style="height:220px;border:#dfdfdf 1px solid;box-shadow:0px 0px 5px 4px rgba(232,232,232,.3);">
                <div style="width:100%;height:40px;background-color:#f6f6f6;">
                    <div style="border-left:3px solid #0057be;float:left;"><h3 style="color:#0057be;line-height:40px;margin-left:15px;">新闻中心 <span style="color:#666666;font-weight:normal;font-size:14px;">NEWS CENTER</span></h3></div>
                    <div style="float:right;margin-top:8px;"><a href="/News/NewsList" style="font-size:14px;margin-right:0px;text-decoration:none;color:#0057be;">更多...</a></div>
                </div>

                <ul class="newsfriendlyul" style="margin-left:20px;list-style:none;line-height:24px;width:100%;clear:both;">
                    <li><a href="/News/NewsContent">案例标题案例标题案例标题案例标题</a></li>
                    <li><a href="/News/NewsContent">案例标题案例标题案例标题案例标题</a></li>
                    <li><a href="/News/NewsContent">案例标题案例标题案例标题案例标题</a></li>
                    <li><a href="/News/NewsContent">案例标题案例标题案例标题案例标题</a></li>
                    <li><a href="/News/NewsContent">案例标题案例标题案例标题案例标题</a></li>
                </ul>

            </div>
        </td>
        <td style="width:10px"></td>
        <td>
            <div style="height:220px;border:#dfdfdf 1px solid;box-shadow:0px 0px 5px 4px rgba(232,232,232,.3);">

                <div style="width:100%;height:40px;background-color:#f6f6f6;">
                    <div style="border-left:3px solid #0057be;float:left;"><h3 style="color:#0057be;line-height:40px;margin-left:15px;">成功案例 <span style="color:#666666;font-weight:normal;font-size:14px;">NEWS CENTER</span></h3></div>
                    <div style="float:right;margin-top:8px;"><a href="/Success/SuccessList" style="font-size:14px;margin-right:0px;text-decoration:none;color:#0057be;">更多...</a></div>
                </div>
                <div>
                    <ul class="newsfriendlyul" style="margin-left:30px;list-style:none;line-height:24px;clear:both;">
                        <li><a href="/News/NewsContent">案例标题案例标题案例标题案例标题</a></li>
                        <li><a href="/News/NewsContent">案例标题案例标题案例标题案例标题</a></li>
                        <li><a href="/News/NewsContent">案例标题案例标题案例标题案例标题</a></li>
                        <li><a href="/News/NewsContent">案例标题案例标题案例标题案例标题</a></li>
                        <li><a href="/News/NewsContent">案例标题案例标题案例标题案例标题</a></li>
                    </ul>

                </div>
            </div>
        </td>
    </tr>
</table>



