@{
    ViewBag.Title = "Carousel";
    Layout = "~/Areas/Admin/Views/AdminHome/Layout.cshtml";
}

<table class="table table-bordered table-hover">
    <caption style="font-size:18px;margin-left:10px;">首页轮播图  <button class="btn btn-danger">新增</button> </caption>
    <thead>
        <tr>
            <th><input type="checkbox" />全选</th>
            <th>名称</th>
            <th>城市</th>
            <th>邮编</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="checkbox" /> </td>
            <td>Tanmay</td>
            <td>Bangalore</td>
            <td>560001</td>
            <td>
                <a href="//">修改</a>|
                <a href="//">删除</a>|
                <a href="//">查看详情</a>|
            </td>
        </tr>
        <tr>
            <td><input type="checkbox" /></td>
            <td>Sachin</td>
            <td>Mumbai</td>
            <td>400003</td>
            <td>
                <a href="//">修改</a>|
                <a href="//">删除</a>|
                <a href="//">查看详情</a>|
            </td>
        </tr>
        <tr>
            <td><input type="checkbox" /></td>
            <td>Uma</td>
            <td>Pune</td>
            <td>411027</td>
            <td>
                <a href="//">修改</a>|
                <a href="//">删除</a>|
                <a href="//">查看详情</a>|
            </td>
        </tr>
    </tbody>
</table>
