@{
    ViewBag.Title = "a";
    Layout = "~/Areas/Admin/Views/AdminHome/Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Kode is a Premium Bootstrap Admin Template, It's responsive, clean coded and mobile friendly">
    <meta name="keywords" content="bootstrap, admin, dashboard, flat admin template, responsive," />
    <title>Kode - Premium Bootstrap Admin Template</title>

    <link href="~/CSS/AreasCSS/root.css" rel="stylesheet" />

    <style>
        #example0 tr:hover {
            /*transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;*/
            box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
        }
    </style>

</head>
<body>
        <div class="container-padding">
            <!-- Start Row -->
            <div class="row">
                <!-- Start Panel -->
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-title">
                            产品服务管理
                        </div>
                        <div class="panel-body table-responsive">
                            <table id="example0" class="table display">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Position</th>
                                        <th>Office</th>
                                        <th>Age</th>
                                        <th>Start date</th>
                                        <th>Salary</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>你好1</td>
                                        <td>1</td>
                                        <td>额外</td>
                                        <td>而非</td>
                                        <td>2011/04/25</td>
                                        <td>非让人</td>
                                    </tr>
                                    <tr>
                                        <td>你好2</td>
                                        <td>2</td>
                                        <td>是</td>
                                        <td>删除</td>
                                        <td>2011/04/25</td>
                                        <td>是发热</td>
                                    </tr>
                                    <tr>
                                        <td>你好3</td>
                                        <td>5555</td>
                                        <td>个</td>
                                        <td>多少是</td>
                                        <td>2011/04/25</td>
                                        <td>让我</td>
                                    </tr>
                                </tbody>
                            </table>


                        </div>

                    </div>
                </div>
                <!-- End Panel -->
            </div>
            <!-- End Row -->
        </div>
       
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">

                <div class="panel-title">
                    bootstrap wysihtml5
                </div>

                <div class="panel-body">

                    <form>
                        <p><textarea class="textarea form-control wysihtml5-textarea" placeholder="Enter text ..." style="height:200px; width:100%;"></textarea></p>

                        <button class="btn btn-default">Send Post</button>
                        <button type="reset" class="btn margin-l-5">Clear</button>
                    </form>

                </div>

            </div>
        </div>
    </div>
    <!-- End Row -->
    <!-- Start Row -->
    <div class="row">


        <div class="col-md-12">
            <div class="panel panel-default">

                <div class="panel-title">
                    Summernote
                </div>

                <div class="panel-body">

                    <form>
                        <div id="summernote">Hello Summernote</div>
                        <button class="btn btn-default">Send Post</button>
                    </form>

                </div>

            </div>
        </div>


    </div>
    <!-- End Row -->

  
    <script src="~/Content/Areasjs/jquery.min.js"></script>
    <link href="~/Content/Areasjs/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/Areasjs/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/plugins.js"></script>
    <script src="~/Content/Areasjs/plugins.js"></script>
    <script src="~/Content/Areasjs/datatables.min.js"></script>



    <script>
        $(document).ready(function () {
            $('#example0').DataTable();
        });
    </script>

    <script>
        $(document).ready(function () {
            var table = $('#example').DataTable({
                "columnDefs": [
                    { "visible": false, "targets": 2 }
                ],
                "order": [[2, 'asc']],
                "displayLength": 25,
                "drawCallback": function (settings) {
                    var api = this.api();
                    var rows = api.rows({ page: 'current' }).nodes();
                    var last = null;

                    api.column(2, { page: 'current' }).data().each(function (group, i) {
                        if (last !== group) {
                            $(rows).eq(i).before(
                                '<tr class="group"><td colspan="5">' + group + '</td></tr>'
                            );

                            last = group;
                        }
                    });
                }
            });

            $('#example tbody').on('click', 'tr.group', function () {
                var currentOrder = table.order()[0];
                if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
                    table.order([2, 'desc']).draw();
                }
                else {
                    table.order([2, 'asc']).draw();
                }
            });
        });
    </script>


</body>
</html>
