@{
    ViewBag.Title = "SuccessList";
    Layout = "~/Views/Shared/View1.cshtml";
}

@model NewsListViewModel



@*成功案例*@
@*<table style="margin:auto;margin-top:15px;">
    <tr style="text-align:center;">
        <td>
            <h2 style="color:#0057be;">______ 最新案例 ______</h2>
            <span style="font-size:14px;">LATEST CASE</span>
        </td>
    </tr>
    <tr style="height:30px;">
        <td></td>
    </tr>
    <tr>
        <td>
            <div style="height:auto;">
                @Html.Partial("~/Views/PartView/ListPage.cshtml")
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div style="height:auto;">
                @{Html.Pagin(Model.Pagination);}
            </div>
        </td>
    </tr>
</table>
@Html.Partial("~/Views/PartView/Partial.FriendlyLink.cshtml")*@

<table style="margin:auto;width:1000px;height:auto;">
    <tr class="firsttr" style="text-align:center;">
        <td colspan="2">
            <div>
                <h2 style="color:#0057be;">______ 成功案例 ______</h2>
                <span>NEWS CENTER</span>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            @Html.Partial("~/Views/PartView/ListPage.cshtml")

        </td>
        <td>
            @Html.Partial("~/Views/PartView/Partial.FriendlyLink.cshtml")
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div style="height:auto;margin-top:30px;">
                @{Html.Pagin(Model.Pagination);}
            </div>
        </td>
    </tr>
</table>


