@{
    ViewBag.Title = "SuccessList";
    Layout = "~/Views/Shared/View1.cshtml";
}

@model NewsListViewModel



@*成功案例*@
<table style="margin:auto;margin-top:15px;">
    <tr style="text-align:center;">
        <td>
            <h2 style="color:#0057be;">______ 最新案例 ______</h2>
            <span style="font-size:14px;">LATEST CASE</span>
        </td>
    </tr>
    <tr style="height:30px;">
        <td></td>
    </tr>
    <tr>
        <td>
            <div style="height:auto;">
                @Html.Partial("~/Views/PartView/ListPage.cshtml")
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div style="height:auto;">
                @{Html.Pagin(Model.Pagination);}
            </div>
        </td>
    </tr>
</table>
@Html.Partial("~/Views/PartView/Partial.FriendlyLink.cshtml")




