@{
    ViewBag.Title = "ProductService";
    Layout = "~/Views/Shared/View1.cshtml";
}
@model NewsListViewModel
<script src="~/Content/js/js.js"></script>
<link href="~/CSS/css.css" rel="stylesheet" />
<link href="~/CSS/font-awesome.min.css" rel="stylesheet" />

<style>
    #productinfo {
        width: 1000px;
        height: 340px;
        margin: auto;
        margin-top: 30px;
        background-color: #f7f7f7;
    }
    /*产品服务*/
    #productshow {
        width: 1000px;
        margin: auto;
    }

    #productname b {
        color: #0b6ae0;
        font-size: 20px;
        line-height: 50px;
    }

        #productname b:hover {
            color: white;
        }


    #productname a {
        text-decoration: none;
        padding: 5px;
        line-height: 30px;
        color: #666666;
        display: block;
    }

    #productname td:hover {
        background-color: #0057be;
    }

    #productname a:hover {
        color: white;
    }
    /*品牌优势*/
    #productadvantage {
        width: 1000px;
        height: 320px;
        margin: auto;
        margin-top: 30px;
    }
</style>

@*产品展示*@
<table id="productshow">
    <tr style="text-align:center;height:70px;">
        <td colspan="2">
            <h3 style="color:#0057be;">______ 产品展示 ______</h3>
            <span style="font-size:14px;">PRODUCT SHOW</span>
        </td>
    </tr>
    <tr style="height:20px;">
        <td colspan="4"></td>
    </tr>
    <tr>
        <td style="width:220px;background-color:#f7f7f7;border:#dfdfdf 1px solid;box-shadow:0px 0px 5px 4px rgba(232,232,232,.3);text-align:center;" valign="top">
            <table style="text-align:center;width:100%;border-collapse:collapse;" id="productname">
                <tr>
                    <td><b style="display:block;">特色案例</b></td>
                </tr>
                <tr>
                    <td><a href="/News/NewsContent">数据扫描产品</a></td>
                </tr>
                <tr>
                    <td><a href="/News/NewsContent">网上阅卷服务</a></td>
                </tr>
                <tr>
                    <td><a href="/News/NewsContent">软件产品</a></td>
                </tr>
                <tr>
                    <td><a href="/News/NewsContent">软件开发服务</a></td>
                </tr>
                <tr>
                    <td><a href="/News/NewsContent">答题卡设计与印刷</a></td>
                </tr>
                <tr>
                    <td><a href="/News/NewsContent">数据中心托管服务</a></td>
                </tr>
                <tr>
                    <td><a href="/News/NewsContent">自学考试网上阅卷</a></td>
                </tr>
                <tr>
                    <td><a href="/News/NewsContent">口语考试系统</a></td>
                </tr>
                <tr>
                    <td><a href="//">机考管理系统</a></td>
                </tr>
                <tr>
                    <td><a href="/News/NewsContent">大规模网上阅卷</a></td>
                </tr>
                <tr>
                    <td><a href="/News/NewsContent">机考管理系统</a></td>
                </tr>
                <tr>
                    <td><a href="/News/NewsContent">大规模网上阅卷</a></td>
                </tr>
            </table>
        </td>
        <td  valign="top">
            <div style="width:760px;">
                @Html.Partial("~/Views/PartView/ListPage.cshtml")
                @{Html.Pagin(Model.Pagination);}
            </div>
        </td>
    </tr>
</table>


@*品牌优势*@
<table id="productadvantage">
    <tr style="text-align:center;">
        <td>
            <h3 style="color:#0057be;">______ 品牌优势 ______</h3>
            <span style="font-size:14px;">PRODUCT ADVANTAGE</span>
        </td>
    </tr>
    <tr style="text-align:center;">
        <td style="height:30px;"></td>
    </tr>
    <tr>
        <td>
            <div class="mian">
                <div class="adframe">
                    <div class="adleft">
                        <div class="ico">
                            <img style="width:50px;height:50px;margin-top: 10px;" src="~/image/service_AdvantageOne.png" />
                        </div>
                        <span class="title" style="font-size:10px;">
                            安全/稳定/高效
                        </span>
                        <span class="depict">
                            基于高效的缓存机制，安全，严谨的程序算法开发，支持横向扩展，提升处理能力。
                        </span>
                        <div class="right" id="r">
                            <div class="rbt">
                                <span>安全/稳定/高效</span>
                            </div>
                        </div>
                    </div>
                    <div class="adleft">
                        <div class="ico">
                            <img style="width:50px;height:50px;margin-top: 10px;" src="~/image/service_AdvantageFour.png" />
                        </div>
                        <span class="title">
                            高度可配置化
                        </span>
                        <span class="depict">
                            快速，智能的实现可定制化的在线考试应用，人工操作加自动处理并行，效率翻倍。
                        </span>
                        <div class="right" id="r">
                            <div class="rbt">
                                <span>高度可配置化</span>
                            </div>
                        </div>
                    </div>
                    <div class="adleft">
                        <div class="ico">
                            <img style="width:50px;height:50px;margin-top: 10px;" src="~/image/Service_AdvantageThree.png" />
                        </div>
                        <span class="title">
                            高度智能
                        </span>
                        <span class="depict">
                            智能批改，人工干预方便高效，自带核心统计功能，可定制数据分析功能，快速掌握考试情况。
                        </span>
                        <div class="right" id="r">
                            <div class="rbt">
                                <span>高度智能</span>
                            </div>
                        </div>
                    </div>
                    <div class="adleft">
                        <div class="ico">
                            <img style="width:50px;height:50px;margin-top: 10px;" src="~/image/service_AdvantageTwo.png" />
                        </div>
                        <span class="title">
                            操作灵活方便
                        </span>
                        <span class="depict">
                            优化操作流程，鼠标拖拽，操作灵活方便，数据克隆等技术使得操作简便快捷。
                        </span>
                        <div class="right" id="r">
                            <div class="rbt">
                                <span>操作灵活方便</span>
                            </div>
                        </div>
                    </div>
                    <div class="adright"></div>
                </div>
            </div>
        </td>
    </tr>
</table>
<script>
    FeiChao.Organ();
</script>



