@{
    ViewBag.Title = "ProductService";
    Layout = "~/Views/Shared/View1.cshtml";
}
<style>
    #productinfo,#productsystem,#productshow,#productadvantage{
        width:1000px;
        margin:auto;
    }
    #productimg{
        width:480px;
        height:220px;
    }
    #productdesc{
        line-height:30px;
        margin-left:60px;
    }
    #productdesc span{
        color:#666666;
    }
</style>
<table id="productinfo">
    <tr style="text-align:center;">
        <td>
            <h3 style="color:#0057be;">产品服务</h3>
            <span style="font-size:14px;">PRODUCT SERVICE</span>
        </td>
    </tr>
    <tr style="height:30px;">
        <td></td>
    </tr>
    <tr>
        <td>
            <table id="productcarousel">
                <tr>
                    <td>
                        <div id="productimg" style="background: url('../../image/serve_14.png') 100% 100%;"></div>
                    </td>
                    <td>
                        <table id="productdesc">
                            <tr style="text-align:center;">
                                <td><h4 style="margin:auto;">网上阅卷服务</h4></td>
                            </tr>
                            <tr>
                                <td><b>信息卡制作</b></td>
                            </tr>
                            <tr>
                                <td><span>完备质量检验体系保障答题卡印刷/裁剪精准无误</span></td>
                            </tr>
                            <tr>
                                <td><b>数据扫描产品</b></td>
                            </tr>
                            <tr>
                                <td><span>独有智能视觉算法及图像采集处理技术</span></td>
                            </tr>
                            <tr>
                                <td><b>网上阅卷系统</b></td>
                            </tr>
                            <tr>
                                <td><span>一卷多评/一致性检测/复评等多种方式,安全性高，保密性强</span></td>
                            </tr>
                        </table>
                        
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<table id="productsystem">
    <tr>
        <td>
            
        </td>
        <td>
            
        </td>
        <td>
            
        </td>
    </tr>
</table>
<table id="productshow">
    <tr style="text-align:center;">
        <td>
            <h3 style="color:#0057be;">产品展示</h3>
            <span style="font-size:14px;">PRODUCT SHOW</span>
        </td>
    </tr>
</table>
<table id="productadvantage">
    <tr style="text-align:center;">
        <td>
            <h3 style="color:#0057be;">品牌优势</h3>
            <span style="font-size:14px;">PRODUCT ADVANTAGE</span>
        </td>
    </tr>
</table>
