@{
    ViewBag.Title = "ProductContent";
    Layout = "~/Views/Shared/View1.cshtml";
}
@model ProductsContentViewModel
<style>
    body {
        margin: 0;
        padding: 0;
    }

    #contentpage {
        margin: auto;
        width: 1000px;
    }

    #position {
        height: 60px;
        border-bottom: 1px solid #dddddd;
    }

        #position p {
            color: #0057be;
            padding: 10px 0;
        }

    #contenttitle {
        height: 70px;
    }

    #title {
        color: #0057be;
        margin-top: 5px;
    }

    #titleinfo {
        color: #666666;
    }

        #titleinfo span {
            float: right;
        }

    #content {
        height: auto;
        font-size: 16px;
        line-height: 36px;
        border-bottom: 1px dashed #dddddd;
    }

    #tooltip {
        height: 100px;
        line-height: 36px;
        margin-top: 10px;
        color: #666666;
    }

        #tooltip a {
            color: #666666;
            text-decoration: none;
        }

            #tooltip a:hover {
                color: #0057be;
                text-decoration: underline;
            }

    #contenttitle {
        width: 1000px;
        margin: auto;
    }
</style>
<table id="contenttitle">
    <tr>
        <td>
            <div id="position">
                <p style="color:#666666;"><span>当前位置：</span><a href="/Product/ProductService" style="color:#0057be;">产品服务</a>/<a>产品服务详情页</a></p>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div style="height:auto;">
                @*@Html.Partial("~/Views/PartView/ContentPage.cshtml")*@

                <table id="contentpage">
                    <tr>
                        <td>
                            <div id="contenttitle">
                                <h3 id="title">@Model.ProductCurrent.Title</h3>
                                <p id="titleinfo" style="margin-top:10px;float:right;">
                                    发表人：@Model.ProductCurrent.PubPerson&nbsp;&nbsp;
                                    阅读量：@Model.ProductCurrent.ReadCount&nbsp;&nbsp;
                                    发表时间：@Model.ProductCurrent.PubDate
                                </p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="content">
                                @Model.ProductCurrent.Content
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="tooltip">
                                <a href="/Product/ProductContent/@Model.ProductPrev.ProductId">《《上一章：@Model.ProductPrev.Title</a>
                                <br />
                                <a href="/Product/ProductContent/@Model.ProductNext.ProductId">》》下一章：@Model.ProductNext.Title</a>
                                <br />
                                <div style="float:right;">
                                    <a href="/Product/ProductService">返回列表</a>/
                                    <a href="#" id="test">回到顶部</a>
                                    <script>
                                        test.onclick = function () {
                                            document.body.scrollTop = document.documentElement.scrollTop = 0;
                                        }
                                    </script>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>

