@{
    ViewBag.Title = "ProductService";
    Layout = "~/Views/Shared/View1.cshtml";
}
<script src="~/Content/js/js.js"></script>
<link href="~/CSS/css.css" rel="stylesheet" />
<link href="~/CSS/font-awesome.min.css" rel="stylesheet" />
<style>
    /*遮罩层效果*/
    .zhezhao {
        float: left;
        position: relative;
        overflow: hidden;
        cursor: pointer;
    }

        .zhezhao .txt {
            width: inherit;
            height: 30px;
            /*background: url(../../image/1px.png) repeat;*/
            background-color: black;
            opacity: 0.6;
            position: absolute;
            left: 0;
            bottom: 0;
            color: #fff;
            font-family: "微软雅黑";
        }

            .zhezhao .txt h4 {
                font-weight: normal;
                font-size: 18px;
                margin: 0;
                height: 40px;
                text-align: center;
                line-height: 32px;
            }

            .zhezhao .txt p {
                font-size: 14px;
                text-align: center;
            }
</style>
<style>
    #productinfo {
        width: 1000px;
        height: 340px;
        margin: auto;
    }
    /*产品服务*/
    #productimg {
        width: 480px;
        height: 220px;
    }

    #productdesc {
        line-height: 30px;
        margin-left: 60px;
    }

        #productdesc span {
            color: #666666;
        }
    /*产品系统*/
    #productsystem {
        width: 1000px;
        height: 350px;
        margin: auto;
        margin-top: 20px;
        background-color: #efefef;
    }

    .systemimg {
        width: 100px;
        height: 100px;
        padding: 10px 0px;
    }

    #productsystem tr td b {
        list-style: none;
        line-height: 30px;
        font-size: 18px;
        color: #0057be;
    }

    #productsystem ul li span {
        line-height: 30px;
    }
    /*产品展示*/
    #productshow {
        width: 1000px;
        height: 500px;
        margin: auto;
        margin-top: 20px;
    }
    /*品牌优势*/
    #productadvantage {
        width: 1000px;
        height: 300px;
        margin: auto;
        margin-top: 20px;

    }
    /*友情链接*/
    #FrendLink {
        width: 1000px;
        margin: auto;
    }
</style>
<script>
    $(function () {
        $(".zhezhao").on({
            mouseover: function () {
                $(this).find(".txt").stop().animate({ height: $(this)[0].clientHeight }, 200);
                var paddtop = $(this).attr("top") ? $(this).attr("top") : "60px";
                $(this).find(".txt h3").stop().animate({ paddingTop: paddtop }, 200);
            },
            mouseout: function () {
                $(this).find(".txt").stop().animate({ height: "45px" }, 200);
                $(this).find(".txt h3").stop().animate({ paddingTop: "0px" }, 200);
            }
        })
    })
</script>

@*产品服务*@
<table id="productinfo" border="1">
    <tr style="text-align:center;">
        <td>
            <h3 style="color:#0057be;">产品服务</h3>
            <span style="font-size:14px;">PRODUCT SERVICE</span>
        </td>
    </tr>
    <tr style="height:30px;">
        <td></td>
    </tr>
    <tr>
        <td>
            <table id="productcarousel">
                <tr>
                    <td>
                        <div id="productimg" style="background: url('../../image/serve_14.png') 100% 100%;"></div>
                    </td>
                    <td>
                        <table id="productdesc">
                            <tr style="text-align:center;">
                                <td><h4 style="margin:auto;">网上阅卷服务</h4></td>
                            </tr>
                            <tr>
                                <td><b>信息卡制作</b></td>
                            </tr>
                            <tr>
                                <td><span>完备质量检验体系保障答题卡印刷/裁剪精准无误</span></td>
                            </tr>
                            <tr>
                                <td><b>数据扫描产品</b></td>
                            </tr>
                            <tr>
                                <td><span>独有智能视觉算法及图像采集处理技术</span></td>
                            </tr>
                            <tr>
                                <td><b>网上阅卷系统</b></td>
                            </tr>
                            <tr>
                                <td><span>一卷多评/一致性检测/复评等多种方式,安全性高，保密性强</span></td>
                            </tr>
                        </table>

                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr style="height:30px;">
        <td></td>
    </tr>
</table>
@*产品展示*@
<table id="productshow" border="1">
    <tr style="text-align:center;height:70px;">
        <td colspan="4">
            <h3 style="color:#0057be;">产品展示</h3>
            <span style="font-size:14px;">PRODUCT SHOW</span>
        </td>
    </tr>
    <tr style="height:30px;">
        <td colspan="4"></td>
    </tr>
    <tr>
        <td rowspan="2">
            <div class='zhezhao' style="width:240px;height:260px;background:url('/image/index_07.png')">
                <div class='txt' style="width:100%;height:auto;">
                    <h4>网上阅卷</h4>
                    <p>信息卡设计与印刷</p>
                    <p>数据扫描产品</p>
                    <p>网上阅卷系统</p>
                </div>
            </div>
        </td>
        <td>
            <div class='zhezhao' style="width:240px;height:120px;background:url('/image/index_09.png')">
                <div class='txt' style="width:100%;height:auto;">
                    <h4>无纸化智能考试</h4>
                    <p>通用无纸化智能考试平台</p>
                    <p>大学英语四六级口语考试系统</p>
                </div>
            </div>
        </td>
        <td>
            <div class='zhezhao' style="width:240px;height:120px;background:url('/image/index_11.png')">
                <div class='txt' style="width:100%;height:auto;">
                    <h4>网上报名管理系统</h4>
                    <p>网上报名系统</p>
                    <p>考务管理系统</p>
                </div>
            </div>
        </td>
        <td rowspan="2">
            <div class='zhezhao' style="width:240px;height:260px;background:url('/image/index_13.png')">
                <div class='txt' style="width:100%;height:auto;">
                    <h4>图库系统</h4>
                    <p>系统支持试题的存储/检索/组卷</p>
                    <p>支持多种形式的试题及答案的管理</p>
                    <p>确保数据体系化的留存</p>
                    <p>数据加密与备份机制安全可靠</p>
                </div>
            </div>
        </td>
    </tr>



    <tr>
        <td colspan="2">
            <div class='zhezhao' style="width:480px;height:120px;background:url('/image/index_17.png')">
                <div class='txt' style="width:100%;height:auto;">
                    <h4>测评与评价系统</h4>
                    <p>多层级，多权限管理，软件操作简单易用，支持远程在线操作</p>
                    <p>支持多种数据来源   灵活的数据发布方式   提供数据分析</p>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div class='zhezhao' style="width:480px;height:120px;background:url('/image/index_21.png')">
                <div class='txt' style="width:100%;height:auto;">
                    <h4>云服务中心</h4>
                    <p>云平台服务   云服务器租用服务   网络设备租用服务</p>
                    <p>数据备份/数据恢复服务   大数据加密存储服务   数据安全防护</p>
                </div>
            </div>
        </td>
        <td colspan="2">
            <div class='zhezhao' style="width:480px;height:120px;background:url('/image/index_23.png')">
                <div class='txt' style="width:100%;height:auto;">
                    <h4>数据处理中心</h4>
                    <p>数据处理服务   卷库管理</p>
                    <p>保密室管理   7*24小时无死角监控</p>
                </div>
            </div>
        </td>
    </tr>
</table>

@*品牌优势*@
<table id="productadvantage">
    <tr style="text-align:center;">
        <td>
            <h3 style="color:#0057be;">品牌优势</h3>
            <span style="font-size:14px;">PRODUCT ADVANTAGE</span>
        </td>
    </tr>
    <tr>
        <td>
            <div class="mian">
                <div class="adframe">
                    <div class="adleft">
                        <div class="ico">
                            <img style="width:50px;height:50px;margin-top: 10px;" src="~/image/service_AdvantageOne.png" />
                        </div>
                        <span class="title" style="font-size:10px;">
                            安全/稳定/高效
                        </span>
                        <span class="depict">
                            基于高效的缓存机制，安全，严谨的程序算法开发，支持横向扩展，提升处理能力。
                        </span>
                        <div class="right" id="r">
                            <div class="rbt">
                                <span>安全/稳定/高效</span>
                            </div>
                        </div>
                    </div>
                    <div class="adleft">
                        <div class="ico">
                            <img style="width:50px;height:50px;margin-top: 10px;" src="~/image/service_AdvantageFour.png" />
                        </div>
                        <span class="title">
                            高度可配置化
                        </span>
                        <span class="depict">
                            快速，智能的实现可定制化的在线考试应用，人工操作加自动处理并行，效率翻倍。
                        </span>
                        <div class="right" id="r">
                            <div class="rbt">
                                <span>高度可配置化</span>
                            </div>
                        </div>
                    </div>
                    <div class="adleft">
                        <div class="ico">
                            <img style="width:50px;height:50px;margin-top: 10px;" src="~/image/Service_AdvantageThree.png" />
                        </div>
                        <span class="title">
                            高度智能
                        </span>
                        <span class="depict">
                            智能批改，人工干预方便高效，自带核心统计功能，可定制数据分析功能，快速掌握考试情况。
                        </span>
                        <div class="right" id="r">
                            <div class="rbt">
                                <span>高度智能</span>
                            </div>
                        </div>
                    </div>
                    <div class="adleft">
                        <div class="ico">
                            <img style="width:50px;height:50px;margin-top: 10px;" src="~/image/service_AdvantageTwo.png" />
                        </div>
                        <span class="title">
                            操作灵活方便
                        </span>
                        <span class="depict">
                            优化操作流程，鼠标拖拽，操作灵活方便，数据克隆等技术使得操作简便快捷。
                        </span>
                        <div class="right" id="r">
                            <div class="rbt">
                                <span>操作灵活方便</span>
                            </div>
                        </div>
                    </div>
                    <div class="adright"></div>
                </div>
            </div>
        </td>

    </tr>
</table>

@*特色案例和友情链接*@
<table id="FrendLink" border="1">
    <tr>
        <td>特色案例</td>
        <td>友情链接</td>
    </tr>
    <tr>
        <td>
            <ul>
                <li>数据扫描产品</li>
                <li>数据扫描产品</li>
                <li>数据扫描产品</li>
                <li>数据扫描产品</li>
                <li>数据扫描产品</li>
                <li>数据扫描产品</li>
            </ul>
        </td>
        <td>
            <ul>
                <li>北京考试中心</li>
                <li>北京考试中心</li>
                <li>北京考试中心</li>
                <li>北京考试中心</li>
                <li>北京考试中心</li>
                <li>北京考试中心</li>
            </ul>
        </td>
    </tr>
</table>
@*产品系统*@
<table id="productsystem" border="1">
    <tr style="text-align:center;">
        <td><img class="systemimg" src="~/image/serve_03.png" /></td>
        <td><img class="systemimg" src="~/image/serve_05.png" /></td>
        <td><img class="systemimg" src="~/image/serve_08.png" /></td>
    </tr>
    <tr style="text-align:center;">
        <td><b>测评与评价系统</b></td>
        <td><b>云服务中心</b></td>
        <td><b>数据处理中心</b></td>
    </tr>
    <tr>
        <td>
            <ul>
                <li><span>多层级/多权限管理</span></li>
                <li><span>软件操作简单易用</span></li>
                <li><span>支持远程张在线操作</span></li>
                <li><span>支持多种数据来源</span></li>
                <li><span>灵活的数据发布方式</span></li>
                <li><span>提供数据分析</span></li>
            </ul>
        </td>
        <td>
            <ul>
                <li><span>云平台服务</span></li>
                <li><span>与服务器租用服务</span></li>
                <li><span>网络设备租用服务</span></li>
                <li><span>数据备份/数据恢复服务</span></li>
                <li><span>大数据加密存储服务</span></li>
                <li><span>数据安全防护</span></li>
            </ul>
        </td>
        <td>
            <ul>
                <li><span>数据处理服务</span></li>
                <li><span>卷库管理</span></li>
                <li><span>保密室管理</span></li>
                <li><span>7*24小时无死角监控</span></li>
            </ul>
        </td>
    </tr>
</table>


<script>
    FeiChao.Organ();
</script>

