@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>母版页</title>
    <link href="~/CSS/View1Style.css" rel="stylesheet" />
</head>
<body>
    <div id="head">
        <table id="nav">
            <tr>
                <td>
                    <span>世纪互联</span>
                    <span>中国领先的考试服务商</span>
                </td>
                <td>
                    <table id="navtitle">
                        <tr>
                            <td><a>首页</a></td>
                            <td><a>新闻中心</a></td>
                            <td><a>成功案例</a></td>
                            <td><a>产品服务</a></td>
                            <td><a>关于我们</a></td>
                            <td><a>联系我们</a></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <div>
        @RenderBody()
    </div>

    <div id="foot">
        <table style="margin:auto;">
            <tr>
                <td>
                    <table id="footnav">
                        <tr>
                            <td>|</td>
                            <td><a>首页</a></td>
                            <td>|</td>
                            <td><a>新闻中心</a></td>
                            <td>|</td>
                            <td><a>成功案例</a></td>
                            <td>|</td>
                            <td><a>产品服务</a></td>
                            <td>|</td>
                            <td><a>关于我们</a></td>
                            <td>|</td>
                            <td><a>联系我们</a></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>Copyright ©2015 21education software Inc. All Rights Reserved.</td>
            </tr>
            <tr>
                <td>北京世纪互联软件开发有限公司 版权所有 京ICP备05029160号</td>
            </tr>
            <tr>
                <td> 京公网安备 11010502001746号</td>
            </tr>
        </table>
    </div>



</body>
</html>
