@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>北京世纪互联软件开发有限公司</title>
    <link href="~/CSS/View1Style.css" rel="stylesheet" />
    <script src="~/Content/jquery-1.10.2.min.js"></script>
</head>
<body>
    <div id="head">
        <table id="nav">
            <tr>
                <td>
                    <img style="width:300px;" src="~/image/logo.png" />
                </td>
                <td style="width:100px;"></td>
                <td>
                    <table id="navtitle">
                        <tr> 
                            <td><a href="/Home/Index">首页</a></td>
                            <td><a href="/News/NewsList">新闻中心</a></td>
                            <td><a href="/Success/SuccessList">成功案例</a></td>
                            <td><a href="/Product/ProductService">产品服务</a></td>
                            <td><a href="/About/AboutUs">关于我们</a></td>
                            <td><a href="/Contact/ContactUs">联系我们</a></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <div>
        @RenderBody()
    </div>

    <div id="foot">
        <table style="margin:auto;">
            <tr>
                <td>
                    <table id="footnav">
                        <tr>
                            <td>|</td>
                            <td><a href="/Home/Index">首页</a></td>
                            <td>|</td>
                            <td><a href="/News/NewsList">新闻中心</a></td>
                            <td>|</td>
                            <td><a href="/Success/SuccessList">成功案例</a></td>
                            <td>|</td>
                            <td><a href="/Product/ProductService">产品服务</a></td>
                            <td>|</td>
                            <td><a href="/About/AboutUs">关于我们</a></td>
                            <td>|</td>
                            <td><a href="/Contact/ContactUs">联系我们</a></td>
                            <td>|</td>
                            <td><a href="/Contact/JoinUs">招聘信息</a></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td><span>Copyright ©2015 21education software Inc. All Rights Reserved.</span> </td>
            </tr>
            <tr>
                <td><span>北京世纪互联软件开发有限公司 版权所有 京ICP备05029160号</span> </td>
            </tr>
            <tr>
                <td><span>京公网安备 11010502001746号</span></td>
            </tr>
        </table>
    </div>



</body>
</html>

