@{
    ViewBag.Title = "View2";
}
<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">

    <link href="~/CSS/AreasCSS/common.css" rel="stylesheet" />
    <link href="~/CSS/AreasCSS/areasstyle.css" rel="stylesheet" />
    <script src="~/Content/Areasjs/jquery.min.js"></script>
    <script src="~/Content/Areasjs/jquery.SuperSlide.js"></script>
    <link href="~/CSS/font-awesome.min.css" rel="stylesheet" />

    <script type="text/javascript">
  $(function(){
	  //给所有的li绑定点击事件
	  $(".sideMenu ul li").bind('click',function(){
		  var a= $(this).attr("src");
		  alert(a);
		  $("#rightMain").attr("src",a);//修改iframe中的src属性
		  var b=$("#rightMain").attr("src");
		  //alert(b);
		  });
      $(".sideMenu").slide({
         titCell:"h3",
         targetCell:"ul",
         defaultIndex:0,
         effect:'slideDown',
         delayTime:'500' ,
         trigger:'click',
         triggerTime:'150',
         defaultPlay:true,
         returnDefault:false,
         easing:'easeInQuint',
         endFun:function(){
              scrollWW();
         }
       });
      $(window).resize(function() {
          scrollWW();
      });
  });
  function scrollWW(){
    if($(".side").height()<$(".sideMenu").height()){
       $(".scroll").show();
       var pos = $(".sideMenu ul:visible").position().top-38;
       $('.sideMenu').animate({top:-pos});
    }else{
       $(".scroll").hide();
       $('.sideMenu').animate({top:0});
       n=1;
    }
  }

var n=1;
function menuScroll(num){
  var Scroll = $('.sideMenu');
  var ScrollP = $('.sideMenu').position();
  /*alert(n);
  alert(ScrollP.top);*/
  if(num==1){
     Scroll.animate({top:ScrollP.top-38});
     n = n+1;
  }else{
    if (ScrollP.top > -38 && ScrollP.top != 0) { ScrollP.top = -38; }
    if (ScrollP.top<0) {
      Scroll.animate({top:38+ScrollP.top});
    }else{
      n=1;
    }
    if(n>1){
      n = n-1;
    }
  }
}
    </script>
    <title>后台首页</title>
</head>
<body>
    <div class="top" style="background-color:#0057be;">
        <div style="float:left;margin-top:15px;"><img width="240" height="30" src="~/image/logo_white.png"/> </div>
        <div style="color:white;width:300px;height:45px; margin-top:15px; font-size:16px;float:right;">欢迎Admin登陆</div>
    </div>
    <div class="side">
        <div class="sideMenu" style="margin:20px auto">
            <h3><i class="fa fa-home" style="padding:0px 10px;"></i>首页</h3>
            <ul>
                <li><a href="//">首页轮播图</a></li>
                <li><a href="//">首页轮播图</a></li>
                <li><a href="//">首页轮播图</a></li>
                <li><a href="//">首页轮播图</a></li>
                <li><a href="//">首页轮播图</a></li>
                <li><a href="//">首页轮播图</a></li>
                <li><a href="//">首页轮播图</a></li>
            </ul>
            <h3><i class="fa fa-th" style="padding:0px 10px;"></i>新闻中心</h3>
            <ul>
                <li src="11">新闻列表</li>
            </ul>
            <h3><i class="fa fa-diamond" style="padding:0px 10px;"></i> 成功案例</h3>
            <ul>
                <li src="21">案例列表</li>
            </ul>
            <h3><i class="fa fa-paper-plane-o" style="padding:0px 10px;"></i> 产品服务</h3>
            <ul>
                <li src="31">产品展示</li>
                <li src="31">产品展示</li>
                <li src="31">产品展示</li>
                <li src="31">产品展示</li>
            </ul>
            <h3><i class="fa fa-map-marker" style="padding:0px 10px;"></i>关于我们</h3>
            <ul>
                <li src="41">公司介绍</li>
                <li src="41">公司介绍</li>
                <li src="41">公司介绍</li>
            </ul>
            <h3><i class="fa fa-envelope-o" style="padding:0px 10px;"></i> 联系我们</h3>
            <ul>
                <li src="51">公司地址</li>
                <li src="51">公司地址</li>
                <li src="51">公司地址</li>
                <li src="51">公司地址</li>
            </ul>
        </div>
    </div>
    <div class="main" style="background-color:#efefef;">
        @*<iframe name="right" id="rightMain" src="Home.html" frameborder="no" scrolling="auto" width="100%" height="auto" allowtransparency="true"></iframe>*@
        @RenderBody()
    </div>
    <div class="scroll">
        <a href="javascript:;" class="per" title="使用鼠标滚轴滚动侧栏" onclick="menuScroll(1);"></a>
        <a href="javascript:;" class="next" title="使用鼠标滚轴滚动侧栏" onclick="menuScroll(2);"></a>
    </div>
</body>
</html>


