@{
    ViewBag.Title = "JoinUs";
    Layout = "~/Views/Shared/View1.cshtml";
}
<style>
    #joinustable {
        width: 1000px;
        margin: auto;
        line-height: 36px;
    }
        /*招聘信息*/
        #joinustable div {
            font-size: 16px;
            border-bottom: 1px dashed lightgray;
            margin-top: 10px;
        }

        #joinustable p {
            color: #666666;   
        }
    
</style>
<table id="joinustable" border="0">
    <tr style="text-align:center;">
        <td>
            <h3 style="color:#0057be;">______ 招聘信息 ______</h3>
            <span style="font-size:14px;">JOIN US</span>
        </td>
    </tr>
    @foreach (var positionitem in ViewBag.positioninfoListShow)
    {
        <tr>
            <td>
                <div>
                    <b>@positionitem.Condition</b>
                    <h4>职责描述</h4>
                    <p>@positionitem.PositionDesc</p>
                    <h4>职位要求</h4>
                    <p>@positionitem.PositionRequirement</p>
                </div>
            </td>
        </tr>
    }
</table>
