@{
    ViewBag.Title = "JoinUs";
    Layout = "~/Views/Shared/View1.cshtml";
}
<style>
    #joinustable {
        width: 1000px;
        margin: auto;
    }
        /*招聘信息*/
        #joinustable div {
            font-size: 16px;
            border-bottom: 1px dashed lightgray;
            margin-top: 10px;
        }

        #joinustable p {
            color: #666666;
        }

    /*招聘介绍*/

    
</style>
<table id="joinustable" border="1">
    <tr style="text-align:center;">
        <td>
            <h3 style="color:#0057be;">招聘信息</h3>
            <span style="font-size:14px;">JOIN US</span>
        </td>
    </tr>
    <tr style="height:30px;">
        <td>
            <div>
                <b>JAVA软件开发工程师     2名</b>
                <h5>职责描述</h5>
                <p>1.按规范的软件开发流程，按规范的软件开发流程按规范的软件开发流程按规范的软件开发流程按规范的软件开发流程按规范的软件开发流程</p>
                <p>2.按规范的软件开发流程，按规范的软件开发流程按规范的软件开发流程按规范的软件开发流程按规范的软件开发流程按规范的软件开发流程</p>
                <p>3.按规范的软件开发流程，按规范的软件开发流程按规范的软件开发流程按规范的软件开发流程按规范的软件开发流程按规范的软件开发流程</p>
                <h5>职位要求</h5>
                <p>1.按规范的软件开发流程，按规范的软件开发流程按规范的软件开发流程按规范的软件开发流程按规范的软件开发流程按规范的软件开发流程</p>
                <p>2.按规范的软件开发流程，按规范的软件开发流程按规范的软件开发流程按规范的软件开发流程按规范的软件开发流程按规范的软件开发流程</p>
                <p>3.按规范的软件开发流程，按规范的软件开发流程按规范的软件开发流程按规范的软件开发流程按规范的软件开发流程按规范的软件开发流程</p>
            </div>
        </td>
    </tr>
    <tr style="height:30px;">
        <td>
            <div>
                <b>JAVA软件开发工程师     2名</b>
                <h5>职责描述</h5>
                <p>1.按规范的软件开发流程，按规范的软件开发流程按规范的软件开发流程按规范的软件开发流程按规范的软件开发流程按规范的软件开发流程</p>
                <p>2.按规范的软件开发流程，按规范的软件开发流程按规范的软件开发流程按规范的软件开发流程按规范的软件开发流程按规范的软件开发流程</p>
                <p>3.按规范的软件开发流程，按规范的软件开发流程按规范的软件开发流程按规范的软件开发流程按规范的软件开发流程按规范的软件开发流程</p>
                <h5>职位要求</h5>
                <p>1.按规范的软件开发流程，按规范的软件开发流程按规范的软件开发流程按规范的软件开发流程按规范的软件开发流程按规范的软件开发流程</p>
                <p>2.按规范的软件开发流程，按规范的软件开发流程按规范的软件开发流程按规范的软件开发流程按规范的软件开发流程按规范的软件开发流程</p>
                <p>3.按规范的软件开发流程，按规范的软件开发流程按规范的软件开发流程按规范的软件开发流程按规范的软件开发流程按规范的软件开发流程</p>
            </div>
        </td>
    </tr>
</table>
