@CHARSET "UTF-8";
html, body { 
	height:100%; overflow:hidden;
}
.top {
 position:absolute; left:0; top:0; right:0;
 height:60px;
 /*background: #07c url('../images/top.gif') 0px 0px repeat-x;*/
}
.side {
 position:absolute; left:0; top:60px; bottom:25px;
 width:206px;
 overflow:hidden;
 /* overflow: auto; */
 /*background:#e1e2e3 url('../images/side_bg.gif') 0px 0px repeat-y;*/
 height:auto;
 background-color:#3D464D;
 height:730px;
}
.main {
 position:absolute; left:206px; top:60px; bottom:25px; right:0px;
 width:auto;
 background-color:#fff;
 z-index:2;
 overflow:hidden;
}
.bottom {
 position:absolute; left:0; bottom:0; right:0;
 height:25px;
 background-color:#456;
}
.main iframe {width:100%; height:100%;}

/*------ for ie6 ------*/
html { *padding:125px 0 25px 0;}
.top { *height:125px; *margin-top:-125px;
background-color:#000;
}
.side { *height:100%; *float:left; *margin-right:-206px;background-color:#3D464D;}
.main { *height:100%; *margin-left:206px;}
.bottom { *height:25px;}
.top, .side, .main, .bottom {*position:relative; *top:0; *right:0; *bottom:0; *left:0;}

/*左侧菜单*/
.sideMenu{ 
position:absolute;
left: 0px;
top:0px;
width: 100%;

}

.sideMenu h3{ 
	height:38px; line-height:80px; cursor:pointer;
	font:normal 16px/38px "Microsoft YaHei";
	font-weight: bold;
	/*background: url('../images/side_h3.gif') 0px 0px no-repeat;*/
	padding-left: 10px;
    color:#f7f7f7;
}
.sideMenu h3:hover{
    background-color:#31383E;
    color:white;
}

.sideMenu ul li{
    line-height:40px; 
    padding:0px 60px; 
}
.sideMenu ul li a{
    color:#f7f7f7;
}
.sideMenu ul li:hover{
    color:white;
    list-style:circle;
    background-color:#31383E;
}
    .sideMenu ul li a:hover {
        color:white;
        list-style:circle;
    }

.scroll{ position:absolute; left:2px; bottom:25px; width:60px; height:42px;height:42px;overflow:hidden; display:none;z-index: 3;}
.scroll a {display: inline-block;zoom: 1;}
/*.scroll a{ background:url(../images/scroll_bg.png) no-repeat left top; width:48px; height:17px;margin: 0px 5px;}*/
.scroll a:hover{ background-position:left bottom;}
.scroll a.next{background-position:right top;}
.scroll a.next:hover{ background-position:right bottom;}


